@import url(http://fonts.googleapis.com/css?family=Roboto);

* { margin:0; padding:0; list-style:none; font-family: 'Roboto', sans-serif; color:#444; }

div.blind {

	position:fixed;
	width:100%; height:100%;
	top:0; left:0;
	background-color:#fff;
	z-index:9999;
}

div.imac {
	
	width:300px;
	height:300px;
	margin:200px auto 10px;
	position:relative;
	top:100px;
	opacity:0;
}

div.imac img {	width:300px; position:absolute; left:0; z-index:10; }

div.imac p { width:220px; position:absolute; right:0; padding:40px; font-size:14px; color:#999; }

div.imac span { 
	
	display:block; 
	margin:10px 0;
	font-size:40px;
}

div.shop {

	text-align:center;
}

div.shop img { position:relative; display:none; cursor:pointer; }

div.main {
	
	height:400px;
	margin:50px 0;
	background-image:url(../images/main.png);
	background-position:center;
	background-repeat:no-repeat;
}

ul.product {
	
	width:960px;
	margin:0 auto;
}

ul.product li {

	width:25%;
	float:left;
	overflow:hidden;
	cursor:pointer;
}

