@charset url(utf-8);
@import url(https://fonts.googleapis.com/css?family=Play);
@import url(https://fonts.googleapis.com/css?family=Monoton);

/*reset*/
*{margin: 0;padding: 0;}
html, body {font: medium/1.5 play;color: #333;background: #111;}
body {width: 100%; height: 100%;}
h1,h2,h3{margin: 0;}
ol, ul {list-style: none;}
a {text-decoration: none; color: inherit;}


/*base*/
.left{float:left;}
.right{float:right;}
.cover{display:table;width:100%;height:100%;}
.cover_inner{display:table-cell;vertical-align:middle;text-align: center;}
.wrap{}
div.section{overflow:hidden;position:relative;width:100%;}
.inner{width:100%;min-width:1200px;height:100%;margin:0 auto;}


/*header 디자인*/
h1 {position: absolute;top: 20px; left: 30px;z-index: 10;transform:skewX(40deg);}
h1>img {width: 113px; height: auto;}
.header {position: absolute;top: 0;left: 0;right:0;z-index:100;transform: skewX(-40deg);}
/* 1depth*/
.nav{position: relative;text-align:center;}
#gnb {display:inline-block;margin:15px 0;}
#gnb:after,#gnb ul:after{content:"";display:block;clear:both;}
#gnb>li{float:left;}
#gnb>li>a{display: block;width: 220px; height: 50px;box-sizing: border-box;color: #222;font: bold 18px/3 play;text-align: center;}
#gnb>li:hover>a{background-color: #222;color: #fff;}
#gnb>li.on>a {background-color: #222;color: #fff;}
#gnb em {display: inline-block;transform: skewX(40deg);}
/* 2depth - "서브메뉴"*/
#gnb ul {position: absolute;left: 65px; right:0;width:fit-content;margin:0 auto;opacity: 0;transition: all .2s ease;transform:translateX(-30%);}
#gnb ul li{float:left;}
#gnb>li:hover ul {opacity: 0.8;z-index: 100;transform:translateX(0%);}
#gnb ul a {display: block;height: 40px;background-color: #222;color: #fff;padding:0 50px;font: 16px/2.5 play;transition: all .2s ease;}
#gnb ul a:hover {background-color: #ee2a2a;color: #fff;}
#gnb>li.on ul{left: 205px; top: -10px;opacity: 0.8;}
#gnb>li.on ul a{background-color: #555;}


/*section video*/
div.video{height:100vh;}
.video figure {margin: 0;width: 100%; height: 100%;position: absolute;}
.video figure video {min-width: 100%;min-height: 100%;width: auto;height: auto;z-index: -1;}
/* 글상자 꾸미기*/
#txtBox {width: 350px; height: 300px;position: absolute;top: 50%; left: 100px;margin-top:-150px;}
.title {position: absolute;top: 0; right: 0;font: 150px Monoton;color: #ee2a2a;letter-spacing: -2px;}
.title em {font: italic 50px play; color: #fff;}
.txt {position: absolute;top: 200px; right: 0;font: 32px play; color: #ddd;letter-spacing: -2px;}
.txt b {font: bold 32px play;color: #ee2a2a;margin-left: 10px;}
/*사이드 디자인*/
.aside {width: 800px; height: 100%;position: absolute;background-color: #111;bottom: 0; right: -800px;opacity: 0.5;transform: skewX(-40deg);transition: all .5s ease .2s;}
.aside:hover {right: -500px; opacity: 0.8;}
.aside .inner{width: 400px; height: 100%;position: absolute;left: 150px; bottom: 0;background-color: #000;padding:10px;box-sizing: border-box;transition: all 1s ease .2s;}
.aside:hover .inner{left: 50px;}
/*콘텐츠 디자인 */
.aside .inner p {position: absolute;left: 50px;width:300px; height: 100px;}
.aside .inner p em {display: inline-block;font: bold 16px/1.7 arial;color: #ddd;transform: skewX(40deg);transition: all .5s ease .2s;}
.aside .inner p em:hover {color: #ee2a2a;text-shadow: 0 0 3px #ccc;}
.aside .inner p a{overflow:hidden;display:block;}
.aside .inner p img {display: inline-block;width: 300px; height: 70px;opacity: 0.6;transition: all .5s ease .1s;}
.aside .inner p img:hover {transform: scale(1.1);opacity: 1;}
.aside .inner p:nth-child(1) {bottom: 270px;transform: translateX(200px);transition: all .6s ease .4s;}
.aside .inner p:nth-child(2) {bottom:  160px;transform: translateX(200px);transition: all .4s ease .3s;}
.aside .inner p:nth-child(3) {bottom: 50px;transform: translateX(200px);transition: all .2s ease .2s;}
.aside:hover .inner p {transform: translateX(0);}

.aside .btnAni {width: 150px; height: 50px;position: absolute; bottom: 40px; left: 100px;color: #ee2a2a; transform: skewX(40deg);transition: all .5s ease .2s;}
.aside:hover .btnAni {left: -100px; opacity: 0;}

.btnAni i {position: absolute;bottom: 0; right: 0;opacity: 1;font-size: 60px;}
.btnAni i:nth-child(1) {animation: autoPlay linear 1.5s 0s infinite;}
.btnAni i:nth-child(2) {animation: autoPlay linear 1.5s .5s infinite;}
.btnAni i:nth-child(3) {animation: autoPlay linear 1.5s 1s infinite;}
/* 자동재생되는 버튼만들기*/
@keyframes autoPlay {
   0%{
      right: 0px;
      transform: scale(1);
      opacity: 1;
   }
   100%{
      right: 100px;
      transform: scale(1.5);
      opacity: 0;
   }
}


/*section theaters*/
div.theaters {width:100%;height:500px;background-image:url(../img/bg_main_box1.jpg);background-repeat:no-repeat;background-size:cover;}
.theaters p{padding:3rem;color:#fff;font-size:3rem;font-weight:bold;}
.theaters button{padding:1rem;margin:0 5px;background-color:transparent;border:3px solid #fff;color:#fff;}

/*section social*/
div.social{padding:4rem 2rem;background-color:#f3f3f3;box-sizing:border-box;}
.social .inner{width:fit-content;min-width:auto;margin:0 auto;}
.social .inner:after{content:"";display:block;clear:both;}
.social .inner .s_con{float:left;width:500px;margin-right:30px;box-sizing:border-box;}
.social .inner .s_con:last-child{margin-right:0;}
.social h3{font-size:3rem;line-height:1.6;color:#333;}
.social ul{overflow-y:scroll;position:relative;padding:1rem 2rem;height:400px;border:1px solid #999;-webkit-overflow-scrolling:touch;}
.social ul::-webkit-scrollbar{-webkit-appearance:none;width:8px;height:8px;}
.social ul::-webkit-scrollbar-thumb{background-color:rgba(255,0,0,0.8);}
.social li{padding:1rem;border-bottom:1px solid #ee2a2a;color:#666; word-break:break-all;}
.social li:last-child{border:none;}
.social a h4{font-size:1.2rem;}
.social a p{font-size:.9rem;text-align:right;}
.social iframe{overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;border:none;}

/*footer*/
.footer{background-color:#4d4e50;text-align:center;}
.footer .inner{width:1200px;margin:0 auto;}
.footer .inner>div{padding:1rem;}
.footer .ft_top{border-bottom:1px solid #ddd;}
.footer button{position:relative;margin-right:10px;padding:10px;background-color:transparent;border:none;color:#fff;font-size:.9rem;}
.footer button:after{content:"";position:absolute;top:50%;right:100%;width:4px;height:4px;margin-top:-2px;background-color:#fff;}
.footer button:last-child{margin-right:0;}
.footer .ft_bottom:after{content:"";display:block;clear:both;}
.footer p{color:#fff;}




