/* carousel */
.wrap{width:250px; height:200px; margin: 100px auto; position: relative;}

#circle{width:100%; height: 100%; position: absolute; }

.item{position: absolute; background: #ccc; width: 250px; height:200px; line-height: 200px; font-size: 50px; text-align: center; color:#fff; opacity: 0.8; border-radius: 10px;}

.item1{background:cadetblue;}
.item2{background:darkgoldenrod;}
.item3{background:burlywood;}
.item4{background:darkorange;}
.item5{background:deepskyblue;}
.item6{background:darkseagreen;}

/* 배치 */
.wrap{perspective: 700px;}
#circle{width: 100%; height: 100%; transform-style: preserve-3d; transition: all .4s linear;}

#circle .item1{transform: translateZ(250px);}
#circle .item2{transform: rotateY(60deg) translateZ(250px);}
#circle .item3{transform: rotateY(120deg) translateZ(250px);}
#circle .item4{transform: rotateY(180deg) translateZ(250px);}
#circle .item5{transform: rotateY(240deg) translateZ(250px);}
#circle .item6{transform: rotateY(300deg) translateZ(250px);}

