* { margin:0; padding:0; list-style:none; font-family:arial; }

a { text-decoration:none; color:#555; }

body { background-image:url(../images/bg.jpg); }

h1 { text-align:center; margin:30px 0; font-size:24px; color:#fff; }

h2 { text-align:center; font-size:16px; color:#fff; }

ul { text-align:center; margin:30px 0; }

ul li {

	display:inline-block;
	padding:10px 20px;
	margin:0 10px;
	background-color:rgba(255,255,255,0.5);
	border-radius:5px;
	cursor:pointer;
}

p.product {

	background-image:url(../images/item.png);
	background-position:0 0;
	width:250px;
	height:170px;
	margin:80px auto;
	-webkit-transition:all .4s linear;
}

div.info { 

	text-align:center; 
	color:#fff; 
	background-color:rgba(0,0,0,0.5); 
	width:200px; 
	height:40px;
	line-height:40px; 
	margin:0 auto;
	border-radius:10px; 
}