/*body { background-color:gray; }*/

/*@media screen and (max-width:960px) {
	body { background-color:green; }
}

@media screen and (max-width:500px) {
	body { background-color:orange; }
}

@media screen and (max-width:320px) {
	body { background-color:blue; }
}*/

/*@media screen and (orientation:portrait) {
	body { background-color:blue; }
}
모바일 세로 방향일때 배경색 지정

@media screen and (orientation:landscape) {
	body { background-color:orange; }
}
모바일 가로 방향일때 배경색 지정
*/

/*
@media screen and (device-width:320px) and (device-height:480px) {
	body { background-color:blue; }
}
넓이가 320이고 높이가 480인 단말기
*/

* { margin:0; padding:0; list-style:none; font-size:12px; font-family:'맑은 고딕'; }

a { text-decoration:none; color:#fff; }

img { vertical-align:bottom; }

#wrap {	
	
	margin:20px auto 0;
	border:1px solid #ddd;
}

section {

	padding:20px;
}

aside img:hover {
	
	border:1px solid #000;	
}

footer {

	padding:10px 0;
	line-height:25px;
	background-color:#222;
	color:#fff;
	text-align:center;
	clear:both;
}

@media screen and (max-width:599px) {

	#wrap {

		width: 320px;
	}

	header {

		height: 100px;
		background-image:url(../images/bg.png);
		background-position:center;
	}

	h1 {

		font-size:2em;
		color:#FF0;	
		padding:20px;
	}

	nav {

		background:#c13333;
	}

	nav ul {
		
		list-style:none; 
		padding:5px 0;
	}

	nav a {
		
		display:block; 	
		color:#fff;
		height:30px;
		line-height:30px;
		text-align:center;
	}

	section{

		width:300px;
		padding:10px;
		line-height:20px;
	}

	h2 {

		font-size:16px;
	}

	h3 {

		margin:20px 0;
	}

	aside {

		margin:10px 0;
		text-align:center;		
	}

	aside img {

		margin-bottom:5px;
		border: 1px solid #CCC;
		width:95%;
	}
}

@media screen and (min-width:600px) and (max-width:1023px) {
	
	#wrap {

		width:580px;
	}

	header {

		height:200px;
		background-image:url(../images/bg.png);
		background-repeat:no-repeat;
		background-position:center;
	}

	h1 {

		padding:20px;
		font-size:3em;
		color:#ff0;
	}	

	nav {
		
		background:#c13333;
		width:580px;
		height:60px;
	}

	nav ul {
		
		height:60px;
		text-align:center;
	}

	nav li {

		display:inline-block;
	}

	nav a {
		
		display: block;
		color:#fff;
		width:100px; 
		line-height:60px;
	}

	section {	

		width:540px;
		line-height:25px;
	}

	h2 {

		font-size:16px;
	}

	h3 {

		margin:20px 0;
	}

	aside {

		width:580px;
		background-color:#eee;
		text-align:center;
		padding:5px 0;
	}

	aside img {

		border:1px solid #ccc;
		text-align:center;
		width:32%;
	}
}

@media screen and (min-width:1024px) {
	
	#wrap {

		width:960px;
	}

	header {

		height:280px;
		background-image:url(../images/bg.png);
		background-repeat:no-repeat;
		background-position:center;
	}

	h1 {

		padding:30px;
		font-family:arial;
		font-size:4em;
		color:#ff0;
	}

	nav {
		
		background:#c13333;
		height:60px;
	}

	nav li {

		float:left;
	}

	nav a {
		
		display: block;
		width:120px;
		text-align:center;
		line-height:60px;
	}

	section {	
		
		width:700px;
		float:left;
		line-height:25px;
	}

	h2 {

		font-size:16px;
	}

	h3 {

		margin:20px 0;
	}

	aside {

		float:right;
		width:200px;
		height:550px;
		background-color:#eee;
		padding:10px;
	}

	aside img {
		
		border: 1px solid #ccc;
		text-align:center;
	}

}