* { margin:0; padding:0; font-family:'Josefin Sans', sans-serif; list-style:none; }

div.title { width:1000px; margin:0 auto; height:60px; line-height:60px; font-size:20px; padding:0 10px; }

div.main { 

  height:450px;
  background-image: linear-gradient(to bottom, #ffffff 70%, #d6d6d6 100%); 
  border-top:1px solid #ddd; 
  text-align:center;
  position:relative;
  overflow:hidden;
}

h2 { font-weight:normal; margin:40px 0 10px; position:relative; opacity:0; 

  -webkit-animation:tit 1s linear 3s;  
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes tit {

  0% { top:-40px; opacity:0; }
  100% { top:0; opacity:1; }
}

p { font-size:14px; position:relative; opacity:0;

  -webkit-animation:ptag 2s linear 4s;  
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes ptag {

  0% { left:-40px; opacity:0; }
  100% { left:0; opacity:1; }
}

img.device { position:absolute; bottom:0; left:50%; margin-left:-300px; 

  -webkit-animation:phone 2s linear;
}

@-webkit-keyframes phone {

  0% { bottom:-100px; opacity:0; }
  100% { bottom:0px; opacity:1; }
}