* { margin:0; padding:0; font-size:20px; }

body { background-color: #2f2f36; }

div.container {

    max-width: 1200px; 
    margin: 60px auto;
    padding: 0 50px;
}

div.box {

    overflow: hidden;
    background-color: #fff;
}

div.grid div.inner { height:160px; line-height:160px; }

div.grid {

    float: left;
}

div.grid:nth-child(1) { width: 80%; }  
div.grid:nth-child(2) { width: 20%; }  
div.grid:nth-child(3) { width: 40%; }  
div.grid:nth-child(4) { width: 20%; }  
div.grid:nth-child(5) { width: 30%; }  
div.grid:nth-child(6) { width: 10%; }  
div.grid:nth-child(7) { width: 25%; }  
div.grid:nth-child(8) { width: 25%; }  
div.grid:nth-child(9) { width: 25%; }  
div.grid:nth-child(10) { width: 25%; }  

div.box { padding:5px; }

div.grid div.inner {

    margin: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    transition: border-radius 1s; 
}

div.grid div.inner:hover {

    border-top-left-radius: 100px;
}

div.grid:nth-child(1) div.inner { background-color: Peru; }
div.grid:nth-child(2) div.inner { background-color: CornflowerBlue; }
div.grid:nth-child(3) div.inner { background-color: LightCoral; }
div.grid:nth-child(4) div.inner { background-color: LightPink; }
div.grid:nth-child(5) div.inner { background-color: LightSeaGreen; }
div.grid:nth-child(6) div.inner { background-color: Orchid; }
div.grid:nth-child(7) div.inner { background-color: OliveDrab; }
div.grid:nth-child(8) div.inner { background-color: LightSalmon; }
div.grid:nth-child(9) div.inner { background-color: YellowGreen; }
div.grid:nth-child(10) div.inner { background-color: SteelBlue; }

/* Desktop */
@media only screen and (max-width: 1024px) {

  div.grid { width: 33.3% !important; }

  div.grid:nth-child(1) { width: 100% !important; }
}

/* Tablet */
@media only screen and (max-width: 768px) {

  div.container { width: 100%; margin: 0; padding: 0; }

  div.grid { width: 50% !important; }

  div.grid:nth-child(10) { width: 100% !important; }
}

/* Mobile */ 
@media only screen and (max-width: 480px) {

  div.container { width: 100%; }

  div.grid { width: 100% !important; }
}
