*{margin: 0; padding: 0;}

.wrap{ max-width: 1000px; margin: 50px auto 0; border: 5px solid red; overflow: hidden;/*  padding:20px 10px; box-sizing: border-box; */}

.nemo {height: 200px; width:25%; float: left; }

.nemo1 nemo{ background-color: blueviolet;}
.nemo2 nemo{ background-color: bisque;}
.nemo3 nemo{ background-color: cadetblue;}
.nemo4 nemo{ background-color: darkred;}

.inner{background-color: darkgray; height:100%; margin: 0 10px; padding: 10px; }/*실제 컨텐츠가 들어가는 영역*/
/*CSS3가 아니기 때문에 크로스 브라우징을 걱정하지 않아도 된다.*/
/*블럭요소는 부모요소에 가득채우는 성질이 있기때문에 nemo에 inner를 넣어 inner에 margin을 넣으면 전체 레이아웃에 영향을 주지않는다 */

.nemo_wrap{margin: 0 -10px;}/**/

@media screen and (max-width:768px){
    .nemo{width:50%;}
}

@media screen and (max-width:480px){
    .nemo{width:100%;}
}