* { margin:0; padding:0; list-style:none; font-family:arial; }

img { vertical-align:top; }

div.container { 

	width:1100px; 
	margin:0 auto;
}

h1 { text-align:center; margin:20px 0; }

ul.menu { 

	height:60px;
	background-color:#222;
	text-align:center;
}

ul.menu li {

	display:inline-block;
	color:#fff;
	line-height:60px;
	margin:0 40px;
	font-size:14px;
	cursor:pointer;
}

div.submenu {

	background-color:#f0f0f0;
	display:block;
}

ul.gnb {

	width:1100px;
	margin:0 auto;
}

ul.gnb li.img {

	text-align:center;
}

#slide {

	width:1100px;
	margin:0px auto 70px;
}

p {

	margin:30px 0;
	font-size:20px;
	border-bottom:1px solid #ddd;
	padding:5px 10px;
	font-weight:bold;
	color:#555;
}

#touch {

	width:1100px;
	margin:50px auto;
	text-align:center;
}

#touch img {

	width:80%;

}