* { margin:0; padding:0; list-style:none; font-family:'Josefin Slab', Arial, sans-serif; }

a { text-decoration:none; color:#fff; }

body { 
	background-image:url(../images/patten.png), url(../images/bg.jpg); 
	background-color: transparent;
	background-repeat: repeat, no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size:auto, cover;
}

div.nav {

	width:280px;
	padding:30px;
	position:fixed;
	top:0;
	left:0;
}

h1 { 

	color:#fff;
	font-size:50px;
	margin-bottom:50px;
}

ul.menu {


}

ul.menu li a {display:block;height:50px;line-height:50px;font-size:30px;color: transparent;text-transform: uppercase;text-shadow: 0px 0px 4px #fff;letter-spacing: 1px;-webkit-transition: all 0.2s ease-in-out;}

ul.menu li a:hover {
	
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}

div.section {

	width:920px;
	padding:50px;
	padding-left:340px; 	
	
}

ul.list li {

	position:relative;
	float:left;
	width:300px;
	height:300px;
	line-height:300px;
	background:rgba(255,255,255,0.3);
	margin:2px;
	text-align:center;
	font-size:30px;
	text-transform:uppercase;
	color:#333;
	overflow:hidden;
	cursor:pointer;
}

ul.list li:nth-child(1) {

	width:604px;
	height:604px;
	line-height:604px;
	font-size:50px;
}

ul.list li:nth-child(even) {

	background:rgba(255,255,255,1);
}

ul.list li span {

	width:80px;
	height:30px;
	line-height:30px;
	font-size:20px;
	position:absolute;
	top:-20%;
	left:50%;
	margin-left:-40px;
	border-bottom:1px solid transparent;
}

ul.list li:hover span {
	
	-webkit-transition: top 0.2s ease-in-out, border-color 0.3s linear 0.3s;	

	top:30%;
	border-color:#f88383;
}

ul.list li img {

	opacity:0.6;
	-webkit-transition: all 0.5s ease-in-out;	
	
}

ul.list li:hover img {

	opacity:1;
	-webkit-transform:scale(1.2);
	
}