* { margin:0; padding:0; list-style:none; }

body {

    background-image: url(../images/bg.png);
}

h1 {

    text-align:center;
    margin:50px 0;
}

div.sunban-wrapper {
    width: 780px;
    margin: 50px auto;
}

ul.sunban {
    height: 150px;
    margin-bottom: 50px;
    background-image: url(../images/sunban.png);	
    background-repeat: no-repeat;
    background-position: center bottom;
}

ul.sunban li {
    cursor: pointer;
    float: left;
    width: 128px;
    height: 128px;
}

div.cart {

    width:128px;
    height:128px;
    background-image:url(../images/cart.png);
    margin:0 auto;
    cursor:pointer;
}