*{margin: 0; padding: 0;}
li{list-style: none;}
img{vertical-align: top;}

.slider{
    width:700px; height:466px;
    margin: 50px auto 10px;
    border: 5px solid black;
    
}
.item{
    width:3500px;
}
.item li{
    width:700px; height: 466px;
    float: left;
    opacity: .6;
}
.item li:nth-child(1) {background-color:darkgreen; }
.item li:nth-child(2) {background-color:cornflowerblue; }
.item li:nth-child(3) {background-color:blueviolet; }
.item li:nth-child(4) {background-color:firebrick; }
.item li:nth-child(5) {background-color:yellowgreen; }

/*CSS만을 사용해서 이미지 슬라이드를 구현 하자*/

/*CSSanimation를 활용해서 만들자 -ie 10부터 */
.item {animation:slider 20s linear infinite;}

@keyframes slider {
    14%{transform: translateX(0px);}
    20%{transform: translateX(-700px);}
    34%{transform: translateX(-700px);}
    40%{transform: translateX(-1400px);}
    54%{transform: translateX(-1400px);}
    60%{transform: translateX(-2100px);}
    74%{transform: translateX(-2100px);}
    80%{transform: translateX(-2800px);}
    94%{transform: translateX(-2800px);}
    100%{transform: translateX(0px);}

    
}