* { margin:0; padding:0; }

body { padding:20px; background-image:url(../images/bg.jpg); background-size:cover; background-attachment:fixed; background-position:center; }

div.color {

	width:200px;
	height:200px;
	border:2px solid red;
}

h1 { 

	text-align:center; 
	margin:50px 0;
}

div.rolling {

	text-align:center;
}

div.rolling img {

	margin:0 5px;
	opacity:0.3;
}

div.rolling img.active {

	opacity:1;
}