*transform* { margin:0; padding:0; }

html, body { height:100%; }

#bg {

	width:100%; height:100%; 
	background-image:url(../images/bg.png);
	background-size:cover;
	border:20px solid yellow; 
	box-sizing:border-box;
}

#container {

	width:600px; height:600px;
	background-image:url(../images/back.png);

	position:absolute;
	top:50%; left:50%;
	margin-left:-300px;
	margin-top:-300px;
}

#container div.dog {

	width:200px; height:200px;
	float:left;
	background-color:#ddd;
	background-image:url(../images/front.png);
}

#container div.dog.d01 { background-position:left top; }
#container div.dog.d02 { background-position:center top; }
#container div.dog.d03 { background-position:right top; }
#container div.dog.d04 { background-position:left center; }
#container div.dog.d05 { background-position:center center; }
#container div.dog.d06 { background-position:right center; }
#container div.dog.d07 { background-position:left bottom; }
#container div.dog.d08 { background-position:center bottom; }
#container div.dog.d09 { background-position:right bottom; }

#container div.dog:hover { opacity:0; }

#container { /*transform: rotate(-45deg);*/ }



































