* {margin: 0; padding: 0;}

li{ list-style: none; }

h1{ text-align: center; margin: 50px 0 40px; }

.ani { width:920px; margin: 0 auto; }

.ani li img { width:100%; }

.ani li{ 
	width:200px; height: 200px; 
	margin: 15px; float: left; 
	border-radius: 50%; overflow: hidden;
	
	animation-name: cake;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-direction: alternate;
}


@keyframes cake{
	
/* 	from{transform: scale(0); opacity: 0;}
	20%{transform: scale(0.6); }
	40%{transform: scale(0.2);}
	60%{transform: scale(0.8);}
	80%{transform: scale(0.4) rotate(360deg); }
	to{transform: scale(1) rotate(0deg); opacity: 1;} */
	
	from{transform: scale(0); opacity: 0;}
	20%{transform: scale(0.6); }
	30%, 80%{transform: scale(0.4) rotate(360deg); }
	to{transform: scale(1) rotate(0deg); opacity: 1;}
		
}





 /* 기능 구현을 위한 스타일 */ 

h1{ 
	position: relative; 
	animation-name: title;
	animation-duration: 2s;
	animation-timing-function: linear;
}
@keyframes title{

/* 	from{ top:-100px; transform: translate(0px,-100px); }
	to{ top:0; transform: translate(0px,-0px); } */

	0%{ /* top:-100px; */transform: translate(0px,-100px); }
	70%{ /* top:-100px; */transform: translate(0px,30px); }
	100%{ /* top:0; */transform: translate(0px,0px); }

}