@import url(normalize.css);
@import url(reset.css);
/* CSS 초기화라기 보다는 재설정 이라고 하는 것이 올바른 표현인지 어쩐지는 모르겠지만 일단 초기화라 하자. */

body { padding:30px; }

button.button { display:block; padding:10px 16px; font-size:18px; line-height:1.33; border-radius:6px; color:#fff; background-color:#428bca; border-color:#357ebd; border:1px solid transparent; vertical-align:middle; margin:30px 0px; }
button.button:hover { background-color:#357ebd; }

div.blind { display:none; position:fixed; width:100%; height:100%; top:0; left:0; z-index:10; background:rgba(0,0,0,0.5); }

div.box { width:600px; padding:30px 10px 10px 10px; margin:0 auto; transition:transform .3s ease-out; transform:translate(0,-25%); } 
div.box.in { transform: translate(0,0); }

div.content { box-shadow:0 5px 15px rgba(0,0,0,0.5); background-color:#fff; border:1px solid rgba(0,0,0,0.2); border-radius:5px; }

div.content div.box_header { padding:15px; border-bottom:1px dotted #999; }
div.content div.box_header button.close_btn { float:right; margin-top:-30px; background:none; border:0; font-size:20px; outline:none; }
div.content div.box_header h4 { margin:0; font-size:18px; }
div.content div.box_body { position:relative; padding:20px; }
div.content div.box_footer { padding:20px; margin-top:15px; text-align:right; border-top:1px dotted #999; }
div.content div.box_footer button.close_box { background-color:#fff; padding:5px 10px; border:1px solid #ccc; border-radius:5px; outline:none; }