
@charset "utf-8";
/*폰트*/
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*초기화*/
* {margin: 0; padding: 0; color: #222;}
body{font-family:"Nanum Gothic", sans-serif;background-color:#e6e6e6;}
li{list-style: none;}
a {text-decoration: none; color: #222;}
a:hover{text-decoration: none;}
hr {border:1px solid #ebebeb;}
img {border: none;}
input:focus{outline:none;}

/*common*/
.page{position:fixed;top:0;right:0;left:0;padding:.5rem;height:48px;background-color:#f5f5f5;border-bottom:1px solid #aaa;text-align: center;box-sizing: border-box;}
.page a{position: relative;display:inline-block;padding:6px 20px;background-image:linear-gradient(#fff, #f1f1f1);border:1px solid #e4e4e4;border-radius:20px;color:#222;text-decoration:none;font-size:.9rem;}
.page a.on{background-image: linear-gradient(#f1f1f1, #e4e4e4);}
.page a:active{top:1px;right:-1px;}
.page .close{position:absolute;top:0;right:0;background-image:none;border:none;line-height: 36px;}
.page .close i{color:#444;}
/*.page + .open{display: none; position:absolute;top:0;right:50px;padding:6px 16px;background-color: #f5f5f5;border:1px solid #aaa;border-top:none;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;font-size:0.9rem;z-index: 10;cursor:pointer;}*/
.page + .open{display: none;position:absolute;top:120px;right:0;width:14px;padding:16px 10px;background-color:#fff;border:1px solid #aaa;border-right:none;border-top-left-radius:10px;border-bottom-left-radius:10px;font-size: 0.9rem;z-index: 10;cursor: pointer;word-break: break-all;text-align: center;box-shadow: 0 0 4px 1px rgba(0,0,0,.1);}


.cover{display:table;width:100%;height:100vh;padding-top:50px;box-sizing:border-box;}
.cover_inner{display:table-cell;vertical-align: middle;}
.wrap{overflow:scroll;position:relative;width:414px;height:714px;margin:0 auto;background-color:#fff;}

/*.wrap {min-width:400px;width:100%;height:100%;}*/
/*snb*/
.snb{position:absolute;top:0;right:0;bottom:0;left:0;}
.snb>div{float:left;}
.snb_inner{overflow-y:auto;position:absolute;width:280px;height:100%;background-color:#333/*005487*/;}
/*snb_off 버튼*/
.exit {position:relative;width:60px;height:60px;/*background-color:rgba(0,0,0,.8);*/text-align:center;cursor:pointer;}
.exit i{font-size:36px;color:#fff;line-height:60px;}
/*side bar list */
.s_lnb{margin:10px;padding:10px 0px;border-top-left-radius:10px;border-bottom-right-radius:10px;background-color:#fff;clear:both;}
.s_lnb>li{position:relative;border-bottom:1px solid #d9d9d9;width:241px;margin:0 auto;}
.s_lnb>li .sub:after{content:"\f078";display:block;position:absolute;top:0;right:10px;font-family:fontawesome;font-size:14px;line-height:40px;color:#a9a9a9;cursor:pointer;}
.s_lnb>li.active .sub:after{content:"\f077";}
.s_lnb>li:last-child{border-bottom:none;}
.s_lnb a{display:block;padding:0 10px;font-size:13px;line-height:40px;color:#222;}
.s_lnb>li .sub li{padding-left:5px;background-color:#ddd;transition:all .4s ease;}
/* side bar 검색창 */
.s_search{width:253px;height:31px;margin:10px auto 20px;line-height:31px;}
.s_search input{float:left;width:219px;height:31px;padding:0 10px;border:1px solid #a9a9a9;border-top-left-radius:10px;box-sizing:border-box;line-height:31px;}
.s_search a{display:block;float:left;width:34px;height:31px;border:1px solid #a9a9a9;border-bottom-right-radius:10px;background-color:#fff;border-left:none;box-sizing:border-box;}
.s_search i{width:34px;height:31px;margin:0; font-size:17px;line-height:31px;text-align:center;color:#333;}
/**/
.join{margin:10px;padding:10px 20px;border-top:1px solid #fff;border-bottom:1px solid #fff;}
.join:after{content:"";display:block;clear:both;}
.join p{margin:5px 0 20px;color:#fff;text-align:center;font-weight:normal;}
.join li{float:left;width:33.33%;text-align:center;}
.join a{font-size:12px;color:#fff;}
.join i{font-size:32px;color:#fff;}
/**/
.snb .logo h1{font-size:16px;color:#fff;text-align:center;line-height:36px;}

/*snb 기능*/
.snb{background-color:transparent;z-index:-1;transition:z-index .4s ease;}
.snb.active{background-color:rgba(0,0,0,.5);z-index:200;}
.snb .snb_inner{transform:translateX(-100%);transition:transform .4s ease;}
.snb.active .snb_inner{transform:translateX(0%);}
.sub li{/*display:none;*/opacity:0;visibility:hidden;height:0;}
.s_lnb>li.active .sub li{/*display:block;*/opacity:1;visibility:visible;height:40px;}

/*gnb*/
.h_gnb{width:100%;height:33px;line-height:33px;background-color:#333;}
.h_gnb_inner{width:100%;margin:0 auto;}
.h_gnb ul{float:right;height:33px;}
.h_gnb li{float:left;}
.h_gnb a{position:relative;padding: 5px 10px;font-size:12px;color:#fff;}
.h_gnb a i{padding:0 5px;color:#fff;}
.h_gnb a:after{content:""; display:block; height:10px; position:absolute; top:50%; right:0; margin-top:-5px;  border-right:1px solid #fff; }
.h_gnb li:last-child a:after{border:none;}
/*h_menu*/
.h_menu{}
.h_menu:after{content:""; display:block;clear:both;}
.h_menu div {float:left;height:57px;padding:0 15px;font-size:14px;font-weight:bold;line-height:57px;}
.h_menu .menu_btn i,.h_menu .search_btn i{margin-right:5px;}
.h_menu .search_btn{float:right;}
.h_logo{width:calc(100% - 178px); text-align:center;}
.h_logo h1{height:57px;line-height:57px;}
.h_logo img{width:100%;max-width:217px;max-height:45px;margin-top:6px;}
/*h_menu - search*/
.h_menu .search{width:100%;height:31px;line-height:31px;margin-bottom:16px;box-sizing:border-box;transition:all .4s ease}
.search input{float:left;width:calc(100% - 33px);height:31px;padding:0 5px;box-sizing:border-box;line-height:31px;}
.h_menu .search .times{margin-left:-34px;background-color:transparent;color:#999;}
.h_menu .search i{width:34px;height:31px;margin-left:-5px;background-color:#333;font-size:17px;color:#fff;line-height:31px;text-align:center;}


/*h_menu - search 기능 */
.h_menu .search{/*display:none;*/opacity:0;visibility:hidden;height:0;margin-bottom:0px;}
.search_btn.active ~ .search{/*display:block;*/opacity:1;visibility:visible;height:31px;margin-bottom:16px;}

/*h_lnb*/
.h_lnb{margin-bottom:5px;}
.h_lnb:after{content:""; display:block;clear:both;}
.h_lnb li{float:left;width:25%;}
.h_lnb li:nth-child(4n) a {border-right:none;}
.h_lnb li:nth-child(4n+1) a{border-left:none;}
.h_lnb li:nth-child(-n+4) a{border-top:1px solid #e1e1e1;}

.h_lnb a{display:block;height:38px;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;box-sizing:border-box;font-size:14px;font-weight:bold;text-align:center;line-height:38px;}

/*푸터*/
.footer{width:100%; }
.footer p span{color:blue;}
.f_container{width:100%; margin:0 auto; color:#e4e4e4;}
.f_container:after{content:""; display:block; clear: both;}
.f_lnb{height:31px;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
.f_lnb:after{content:"";display:block;clear:both;}
.f_lnb li{float:left;position:relative;width:20%;text-align:center;}
.f_lnb li:after{content:"";display:block;position:absolute;top:50%;left:0;height:12px;margin-top:-6px;border-left:1px solid #ebebeb;}
.f_lnb li:first-child:after{border:none;}
.f_menu {padding:15px 0; line-height:16px;}
.f_lnb a{display:block;font-size:12px;font-weight:bold;line-height:31px;}
.address,.copylight{font-size:11px; color:#666; font-weight:100;font-weight:bold;text-align:center;}

/*slider*/
.slider {position:relative;}
.s_images{overflow:hidden;position:relative;width:100%;height:230px; }
.s_img{float:left;height: 420px;background-position:center;background-size:cover;text-align:center;line-height:230px;font-size:72px;}
.bxslider .s_img:nth-child(2){background-image:url(../images/main_banner/visual_01.jpg);}
.bxslider .s_img:nth-child(3){background-image:url(../images/main_banner/visual_02.jpg);}
.bxslider .s_img:nth-child(4){background-image:url(../images/main_banner/visual_03.jpg);}
.bxslider .s_img:nth-child(5){background-image:url(../images/main_banner/visual_04.jpg);}
.bx-wrapper{overflow:hidden;}
.bx-pager {position:absolute;bottom:30px;left:50%;margin-left:-38px;}
.bx-pager-item{float:left;}
.bx-pager-item a{display:block;width:14px; height:14px;margin:0 5px;border-radius:50%;background-color:#666;cursor:pointer;}
.bx-pager-item a.active{background-color:yellowgreen;}
.bx-controls-direction {position:absolute;top:0;left:50%;width:100%; height:230px;transform:translateX(-50%); }
.bx-controls-direction a{position:absolute;top:50%;width:60px;height:60px;margin-top:-30px;text-align:center;}
.bx-controls-direction a i{cursor:pointer;line-height:60px;font-size:60px;color:#e4e4e4;transition:all .4s ease;}
.bx-controls-direction a i:hover{color:yellowgreen;}
.bx-prev {left:0;}
.bx-next{right:0;}

/*icon link*/
.icon_link{margin:5px 0;}
.icon_link:after{content:""; display:block;clear:both;}
.icon_link i{color:#fff;}
.icon_link a{display:block;float:left;width:16.66%;height:80px;font-size:36px;text-align:center;line-height:80px;}
.icon_link a:nth-child(1){background-color:yellowgreen;}
.icon_link a:nth-child(2){background-color:#feb500;}
.icon_link a:nth-child(3){background-color:#21785c;}
.icon_link a:nth-child(4){background-color:yellowgreen;}
.icon_link a:nth-child(5){background-color:#feb500;}
.icon_link a:nth-child(6){background-color:#21785c;}

/*news*/
.re_title{position:relative;height:40px;padding-left:30px;border-top:1px solid #ebebeb;font-size:18px;font-weight:bold;line-height:40px;cursor:pointer;}
.re_title:after{content:"\f0fe";display:block;position:absolute;top:0;left:10px;font-family:fontawesome;font-size:18px;line-height:40px;}
.re_title.active:after{content:"\f146";}
.recent:last-child  .re_title{border-bottom:1px solid #ebebeb;}
.re_title i{margin-right:5px; font-size:18px;line-height:40px;}
.re_content{padding:15px; border-top:1px solid #ddd;background-color:#ebebeb;font-size:14px;transition:height .4s ease,opacity .4s ease .2s;}
.re_content li{padding:0 20px;}
.re_content li:after{content:"";display:block;clear:both;}
.re_content p{overflow:hidden;text-overflow:ellipsis;white-space: nowrap;line-height:24px;}
.re_content li p:first-child{width:70%; float:left;}
.re_content li p:last-child{float:right;}
.more {margin-top:4px;margin-right:20px;text-align:right;}
.more a{display:inline-block;padding:6px;border:1px solid #bababa; background-color:#9acd32;font-size:12px;color:#fff;}
/*news 기능 */
.re_content{/*display:none;*/opacity:0;visibility:hidden;height:0px;padding:0;border-top:none;}
.re_content p{line-height:0;}
.re_content .more{margin-top:0;height:0;}
.re_title.active + .re_content{/*display:block;*/opacity:1;visibility:visible;height:196px;padding:15px;border-top:1px solid #ddd;}
.re_title.active + .re_content p{line-height:24px;}
.re_title.active + .re_content .more{margin-top:4;height:40;}

/*banner*/
.banner {padding:13px 15px;}
.banner:after{content:"";display:block;clear:both;}
.banner>div{float:left;width:50%;cursor:pointer;}
.banner>div:last-child div{float:right;}
.banner .b_btn{height:27px;border:1px solid #ebebeb;font-size:12px;line-height:27px;text-align:center;}
.banner>div>div{width:calc(100% - 5px);}

/*sub1*/
/*컨테이너*/
.container .c_inner{width:100%;min-height:600px;margin:0 auto;}
.container .c_inner:after{content:"";display:block;clear:both;}
