
@charset "utf-8";
/*폰트*/
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*초기화*/
* {margin: 0; padding: 0; color: #222;}
body{font-family:"Nanum Gothic", sans-serif;background-image:url(../images/bg/line.gif);background-position:0px 189px;background-repeat:repeat-x;}
li{list-style: none;}
a {text-decoration: none; color: #222;}
a:hover{text-decoration: none;}
hr {border:1px solid #ebebeb;}
img {border: none;}
input:focus{outline:none;}

/*common*/
.page{position:relative;top:0;right:0;left:0;padding:.5rem;height:48px;background-color:#f5f5f5;border-bottom:1px solid #aaa;text-align: center;box-sizing: border-box;}
.page a{position: relative;display:inline-block;padding:6px 20px;background-image:linear-gradient(#fff, #f1f1f1);border:1px solid #e4e4e4;border-radius:20px;color:#222;text-decoration:none;font-size:.9rem;}
.page a.on{background-image: linear-gradient(#f1f1f1, #e4e4e4);}
.page a:active{top:1px;right:-1px;}
.page .close{position:absolute;top:0;right:0;background-image:none;border:none;line-height: 36px;}
.page .close i{color:#444;}
/*.page + .open{display: none; position:absolute;top:0;right:50px;padding:6px 16px;background-color: #f5f5f5;border:1px solid #aaa;border-top:none;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;font-size:0.9rem;z-index: 10;cursor:pointer;}*/
.page + .open{display: none;position:absolute;top:120px;right:0;width:14px;padding:16px 10px;background-color:#fff;border:1px solid #aaa;border-right:none;border-top-left-radius:10px;border-bottom-left-radius:10px;font-size: 0.9rem;z-index: 10;cursor: pointer;word-break: break-all;text-align: center;box-shadow: 0 0 4px 1px rgba(0,0,0,.1);}

/*gnb*/
.h_gnb{min-width:1200px;height:33px;line-height:33px;background-color:#666;}
.h_gnb_inner{width:1200px;margin:0 auto;}
.h_gnb ul{float:right;height:33px;}
.h_gnb li{float:left;}
.h_gnb a{position:relative;padding: 5px 10px;font-size:12px;color:#fff;}
.h_gnb a i{padding:0 5px;color:#fff;}
.h_gnb a:after{content:""; display:block; height:10px; position:absolute; top:50%; right:0; margin-top:-5px;  border-right:1px solid #fff; }
.h_gnb li:last-child a:after{border:none;}
/*header*/
.top_menu{width:100%;min-width:1200px;border-bottom:1px solid #0077bf;}
.top_menu_inner {width:1200px;height: 72px;margin: 0 auto;}
.top_menu_inner:after {content:"";display: block;clear: both;}
.top_menu_inner>div {float: left;}
/*logo*/
.h_logo {width:220px;height:72px;}
.h_logo h1{width:217px;height:45px;margin-top:13px;}
/*lnb*/
.h_lnb{float:right;height: 72px;font-weight:bold;}
.h_lnb>li {float:left;position:relative;height:47px;margin-top:12px;line-height:47px;transition:all .4s ease;}
.h_lnb>li>a{padding:10px 28px;font-size: 15px;height:37px;transition:all .4s ease;}
.h_lnb>li>a:hover,.h_lnb>li.on>a{border-top-left-radius:100px;border-bottom-right-radius:100px;background-color:yellowgreen;color:#fff;}
/*search*/
.h_lnb>li.search{border:1px solid transparent;}
.h_lnb>li.search input{opacity:0;border:none;width:0px;font-size:15px;line-height:33px;transition:all .4s ease;}
.h_lnb>li.search a{padding:10px 12px;border-radius:100px;}
.search i{display:inline;color:#222;}
.search:hover i{color:#fff;}
.h_lnb>.search.active{margin-right:23px;border-color:yellowgreen;border-radius:100px;box-sizing:border-box;}
.h_lnb>.search.active a{background-color:transparent;}
.h_lnb>.search.active i{color:#222;}
.h_lnb>.search.active input{opacity:1;margin-left:15px;width:93px;border:none;}
.exit {display:none;position:absolute;top:0;left:100%;padding:0 5px;line-height:37px;}
.search.active .exit{display:block;cursor:pointer;}
/*lnb sub*/
.h_lnb>li:hover .sub{visibility:visible;opacity:1;top:47px;background-color:yellowgreen;}
.sub{visibility:hidden;opacity:0;position:absolute;top:42px;height:26px;transition:all .4s ease;z-index:100;}
.h_lnb>li:nth-child(1) .sub{left:0;}
.h_lnb>li:nth-child(2) .sub{left:0;}
.h_lnb>li:nth-child(3) .sub{left:50%;transform:translateX(-50%);}
.h_lnb>li:nth-child(4) .sub{left:50%;transform:translateX(-50%);}
.h_lnb>li:nth-child(5) .sub{left:50%;transform:translateX(-50%);}
.h_lnb>li:nth-child(6) .sub{right:0;}
.h_lnb>li:nth-child(7) .sub{right:0;}
.sub li{float:left;background-color:yellowgreen;line-height: 36px;}
.sub li a{display:block;padding:0 28px;font-size:12px;line-height:26px;font-weight:400;color:#fff;white-space:nowrap;transition:all .4s ease;}
.sub li a:hover{font-weight:bold;}

/*사이드 네비게이션 바 */
.snb{width:200px;margin-top:36px;margin-right:24px;}
.s_title h2{height:82px;font-size:18px;line-height:82px;text-align:center;}
.s_list li{position:relative;border-top:1px solid #e4e4e4;}
.s_list li a{display:block;height:40px;padding:0px 20px;font-size:14px;font-weight:normal;line-height:40px;color:#222;box-sizing:border-box;}
.s_list li:hover{border-color:#555;background-color:#555;}
.s_list li:hover a,.s_list li.on a{font-weight:bold;color:#fff;}
/*사이드 네비게이션 바 기능 */
.s_list li.on{border-color:#222;background-color:#222;}
.s_list li.on a:after{content:">";display:block;position:absolute;top:0;right:15px;}
/*route*/
.top_menu_inner>.route{float:right;height:36px;font-size:12px;text-align:right;line-height:36px;}
.route i{margin-right:3px;}


/*푸터*/
.footer{width:100%; height: 130px; border-top:1px solid #666; }
.footer p{clear:both;}
.footer p span{color:blue;}
.f_container{width:1200px; margin:0 auto; color:#e4e4e4;}
.f_container:after{content:""; display:block; clear: both;}
.f_container>div{float:left;}
.f_logo{width:250px;}
.f_logo h1{width:217px;height:45px;margin-top:43px;}
.f_menu {font-size: 14px; width: 850px; line-height:17px; margin-top:25px;}
.f_lnb{background-color:#666; position:relative;  float:left; margin-bottom:10px; border-radius:5px;  }
.f_lnb li{float:left;}
.f_lnb li:after{content:""; display: block; height:6px; position:absolute; top:50%; margin-top:-3px;   border-left:1px solid #fff;}
.f_lnb li:first-child:after{border:none; }
.f_lnb a{display: block; padding:3px 10px; color:#fff; font-size:11px; font-weight:bold; }
.f_lnb span a{color:orange;}
.address,.copylight{font-size:11px; color:#666; font-weight:100;font-weight:bold;}




/*slider*/
.slider {position:relative;min-width:1200px;}
.s_images{overflow:hidden;position:relative;height:420px;min-width:1200px; }
.s_img{float:left;height: 420px;min-width:1200px;background-position: center;background-size:cover;text-align:center;line-height:420px;font-size:72px;}
.s_img img{display:block;width:100%; height:auto; min-width:1200px;min-height:420px;vertical-align:middle;}
.bx-wrapper{overflow:hidden;}
.bx-pager {position:absolute;bottom:30px;left:50%;margin-left:-56px;}
.bx-pager-item{float:left;}
.bx-pager-item a{display:block;width:18px; height:18px;margin:0 5px;border-radius:50%;background-color:#666;cursor:pointer;}
.bx-pager-item a.active{background-color:yellowgreen;}
.bx-controls-direction {position:absolute;top:0;left:50%;width:1200px; height:420px;margin-left:-600px; }
.bx-controls-direction a{position:absolute;top:50%;width:100px;height:100px;margin-top:-50px;text-align:center;}
.bx-controls-direction a i{cursor:pointer;line-height:100px;font-size:100px;color:#e4e4e4;transition:all .4s ease;}
.bx-controls-direction a i:hover{color:yellowgreen;}
.bx-prev {left:0;}
.bx-next{right:0;}

/*뉴스*/
.news {width: 1200px;margin: 38px auto;}
.news:after {content:""; clear: both; display: block; }
.news>div {float: left;} 
/*recent tap*/
.recent_post{float:left;position: relative;width: 586px;height: 335px;margin-right: 26px;background-color: #fff;}
.recent_post>div:first-child{ border-left: 1px solid #ddd;}
.re_tab{float: left;width:146px;}
.ta_title{padding: 0px 15px;border-top: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom:1px solid #ddd;background-color: #fafafa;font-size:16px;font-size: 12px;font-weight:bold;text-align:center;line-height:49px; cursor:pointer;}
.ta_title.active{border-bottom:none;background-color:#fff;color: #1c9fe7;}
.ta_title i{color: #bcbcbc;}
.ta_title.active i {color: #222;}
.ta_content{display: none;position: absolute; left: 0; right: 0;margin:28px 0px 0px 15px;box-sizing: border-box;background-color: #fff;font-size:14px; line-height:30px; }
.ta_content li p{float: left;}
.ta_content li p:first-child{overflow:hidden;width:420px; height:31px;text-overflow:ellipsis;white-space:nowrap;}
.ta_content li p:last-child{float: right;margin-right:24px;}
.ta_content li:after{content:""; display: block; clear:both;}
.re_tab .more{height:40px;margin-left:505px;font-size:14px;line-height:40px;font-weight:bold;}
/*newsBanner*/
.site_link{float:left;width:588px;height:335px;}
.site_link>div{float: left;}
.icon_link{width:276px;height:335px;}
.icon_link a{float:left;display:block;width:138px;height:112px;}
/*.icon_link a:nth-child(odd){margin-bottom:10px;margin-right:10px;}*/
.icon_link i{width:143px;height:102px;padding-top:10px;font-size:48px;text-align:center;line-height:95px;color:#fff;}
.icon_link a:nth-child(1){height:111px;background-color:yellowgreen;}
.icon_link a:nth-child(2){height:111px;background-color:#feb500;}
.icon_link a:nth-child(3){background-color:#21785c;}
.icon_link a:nth-child(4){background-color:yellowgreen;}
.icon_link a:nth-child(5){background-color:#feb500;}
.icon_link a:nth-child(6){background-color:#21785c;}
.text_link{width: 281px;height: 335px;margin-left: 26px;background-color: #323755/*008170*/;}
.text_link p{height: 57px;font-size: 16px;text-align: center;color: #fff;line-height: 57px;}
.text_link p:after{content: "";display: block;width: 200px;margin: 0 auto;border-bottom: 1px solid #fff/*006150*/;}
.text_link ul{margin: 10px 40px;}
.text_link li a{ color: #fff; font-size: 14px; line-height: 24px;}

/*경기도는 오늘*/
.today {width: 1200px;margin: 0px auto;}
.today:after {content:""; clear: both; display: block; }
/*title*/
.to_title{margin-top: 42px;font-size: 21px;text-align: center;font-weight: bold;}
.to_title:after{content: "";display: block; width: 62px; border-bottom: 1px solid #222; margin: 24px auto 0;}
/*card*/
.card{width: 280px; height: 287px; float: left; margin-top: 50px ; margin-right: 26px; border: 1px solid #eee; box-sizing: border-box; cursor:pointer; background-color:#fff;}
.card img{width: 100%;}
.card:last-child{margin-right: 0px; }
.card>div:first-child{height:169px;}
.card>div:last-child{padding: 19px 29px;}
.card p{overflow:hidden;font-size:12px; line-height:20px;text-overflow:ellipsis;white-space:nowrap;}
.card p.title{font-size:14px; line-height:34px; font-weight:bold;}

/*안내 배너*/
.guide {width: 1200px; margin: 27px auto 0;}
.guide:after{content:""; display: block; clear:both; }
.guide>div{width: 586px; height: 288px; float: left; }
.guide>div:last-child{margin-left:26px;}
.guide img{width:100%;}

/*배너모음*/
.cooperator {width:1200px; margin:50px auto; height:90px; border:1px solid #ddd; }
/*slide button*/
.cooperator>div{float:left;}
.co_slidebtn{width: 300px;line-height:90px; }
.co_slidebtn:after{content:""; display:block; clear:both;}
.co_slidebtn>div:first-child{padding:0px 30px; font-weight:bold;}
.co_slidebtn>div{float:left;}
.co_slidebtn i{ width:20px;  height: 20px; line-height: 20px; text-align: center; border-radius:50%; font-size: 7px;  border:1px solid #ddd; margin-right: 7px; cursor:pointer; }
/*logo images*/
.co_logo {width: 900px; height:90px; }
.co_logo:after {content:""; display:block; clear:both;}
.co_logo li{float:left; margin-left:30px; height:25px; margin-top:32.5px;}
.co_logo img{height: 25px;}





/*sub1*/
/*컨테이너*/
.container .c_inner{width:1200px;min-height:600px;margin:0 auto;}
.container .c_inner:after{content:"";display:block;clear:both;}

/*내용*/
.section{float:left;width:976px;border-top:1px solid #e4e4e4;}