* { margin:0; padding:0; list-style:none; }

div.container { 

	width:1000px;
	margin:0 auto;
	position:relative;
}

div.slide { 

	overflow:hidden;
	position:relative;
}

h1 { margin:50px 0; text-align:center; }

ul.watch { overflow:hidden; position:relative; }
ul.watch li { float:left; text-align:center; }
ul.watch li img { width:80%; }

div.button > div { position:absolute; top:50%; margin-top:-32px; z-index:100; cursor:pointer; }
div.prev { left:-64px; }
div.next { right:-64px; }