* { margin:0; padding:0; list-style:none; font-size:12px; font-family:arial; }

a { text-decoration:none; color:#555; }

#header {

	position:fixed;
	height:50px;
	width:100%;
	background:rgba(0,0,0,0.6);
	z-index:10;
}

ul.menu {	text-align:center; }

ul.menu li { 

	display:inline-block;
}

ul.menu li a {

	display:block;
	padding:0 20px;
	line-height:50px;
	color:#fff;
	font-size:12px;
}

#section01, #section02, #section03 {

	text-align:center; 
}

#section01 img {

	position:relative;
	top:-30px; 
	opacity:0;
}

#section02 { background-image:url(../images/bg01.jpg); background-size:cover; background-position:center; }
#section03 { background-image:url(../images/bg02.jpg); background-size:cover; background-position:center; }

#section03 h1 { text-align:center; font-size:40px; margin-bottom:30px; }

#section03 ul {

	padding:0 80px;
}

#section03 ul li {

	width:20%;
	float:left;
	opacity:0;
	position:relative;
	top:50px;
}

#section03 ul li div.inner {

	margin:10px;
	background-color:#fff;
	padding:10px 0;
	border-radius:10px;
}

#section03 ul li img {

	width:100%;
}

#section03 ul li h2 {

	color:#555;
	padding:10px;
}

#section03 ul li p {

	padding:10px;
	color:#555;
	text-align:right;
}
