* {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; }
body{background-color: #e4e4e4;}
input{outline-style: none;}
/*common*/
.title{margin-top: 100px; text-align:center;}
.title p{font-size:12px;}
.title h2{font-size: 30px;}
.title hr{border: 1px solid #b8cd06; width:60px; margin: 30px auto;}
/*slider button*/
.control div{ position: absolute; top: 50%; margin-top: -35px; width: 70px; height: 70px; border:5px solid #e4e4e4; box-sizing: border-box; background-color: #fff; border-radius: 50%; text-align: center; font-size: 30px; color: #e4e4e4; line-height: 70px; transition: all .4s ease;}
.control div:hover{border:5px solid #b8cd06;color: #b8cd06; cursor: pointer;}
.control .prev{left: -30px;}
.control .prev:before{content:"←";}
.control .next{right: -30px;}
.control .next:before{content:"→";}
/*slide product*/
.view {overflow: hidden;}
.align {position: relative;}
.align::after {content:" "; display: block; clear: both;}
.item{background-color: #fff;  float: left; box-sizing: border-box; border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; }
.item:last-child{border-right: none;}
img{width:100%; background-size: cover; border: none;}
p {line-height: 40px; }
.name {font-size: 14px; font-weight: bold;}
.name:hover{color:#b8cd06; }
.star{color:#b8cd06; font-size: 14px;}
.star i {margin-right: 5px;}
.explain{color:#999; font-size: 12px; line-height: 20px;}
.price{text-decoration: none; color:#666; font-weight: bold;}
.price span{text-decoration-line:line-through; color:#b8cd06;  font-size: 16px; }
.images{position: relative;}
.images:hover img{opacity: 0.5;}
.button {position:absolute; left: 50%; top:50%; margin-left: -68px; margin-top:-33px; visibility: hidden; opacity: 0; transition: all .4s ease;}
.images:hover .button{visibility: visible; opacity: 1; margin-top: -53px;}
.button div{ color: #fff; padding: 18px; font-size: 12px; width:100px; text-align: center; margin-bottom: 10px; border-radius: 30px; cursor: pointer;}
.button .addCart{background-color:#b8cd06; transition: all .4s ease; }
.button .quickView{background-color: #222; transition: all .4s ease;  }
.button .addCart:hover{background-color:#93c11c; }
.button .quickView:hover{background-color:#b8cd06;  }
.custom {position: absolute; right:-20px; top:0; visibility: hidden; opacity: 1; transition: all .4s ease; }
.custom div{font-size: 12px; float: left; padding: 5px; border: 1px solid #999; border-radius: 50%; width:12px; height:12px; text-align: center; line-height: 12px;margin-left: 5px; color:#777;  cursor: pointer;}
.custom .wishlist:hover, .custom .compare:hover {background-color: #b8cd06; color: #fff;  border: 1px solid #b8cd06;}
.images:hover .custom{visibility: visible; opacity: 1; right: 0px;}
/*tabBtn*/
.tabBtn {width:40px; margin: 0 auto;  }
.tabBtn ul::after {content:" "; display: block; clear: both;}
.tabBtn li{ width:6px; height:6px; float: left; border: 2px solid #ddd; border-radius: 50%; margin-top: 2px;  margin-right:12px; cursor: pointer;}
.tabBtn li:last-child{margin-right: 0;}
.tabBtn li.active, .best .tabBtn li:hover{border: 2px solid #b8cd06; width:10px; height:10px; margin-top: 0;}
.tabBtn li{}
/*topBtn*/
.topBtn {position: fixed;  bottom: -50px; right:30px; width:50px; height:50px; background-color: #fff; border-radius: 50%; text-align: center; line-height: 45px; font-size: 30px; border:1px solid #e4e4e4; color: #999; visibility: hidden; cursor: pointer;}
.topBtn.active{ visibility: visible; bottom: 30px; transition: all .4s ease; }




/*TopBar*/
.header{background-color: #fff; min-width: 1200px; }
 .topBar{
    width:1200px; margin: 0 auto;
    height:52px; 
    border-right:1px solid #e4e4e4;border-left:1px solid #e4e4e4;
}
.header .topBar>ul>li{padding: 20px; font-size: 12px; font-weight:bold; color: #333; cursor: pointer; height:12px;}
.header .topBar>ul>li span.smallFont{font-size: 10px; color:#999;}
.header .topBar>ul>li .hov:hover{color:#b8cd06; font-weight: bold;}
.header .topBar>ul.topLeft>li{
    float:left;
    border-right:1px solid #e4e4e4;
}
.header .topBar>ul.topRight {float: right;}
.header .topBar>ul.topRight>li{
    float:left;
    border-left:1px solid #e4e4e4;
}
.header .myCart{position: relative;}
.header .myCart:hover ul{visibility: visible; opacity: 1;}
.header .myCart ul{position:absolute; right:0px; top:100%; border-top:5px solid #b8cd06 ;background-color: #fff; width: 650px; height:200px; display:block; box-shadow:0 6px 12px rgba(0,0,0,.175); border-bottom-left-radius: 10px; visibility: hidden; opacity: 0; transition: all .4s ease; z-index: 50;}
.header .myCart ul li p{text-align: center; color:#999; line-height: 30px; margin-top:70px; }
.header .myCart ul li p span{ font-size: 18px; color: #222;}
.header .cartItem{background-color: #b8cd06; width: 5px; height: 5px;  border-radius: 50%; color: #fff;padding: 3px 7px; margin: 0px 10px 0 15px;  }
.header .cart{background: url(../images/icon-cart.png) no-repeat; padding: 4px 0; margin-left: 5px;  }
.header .money{color: #b8cd06;}
.header .number{color:#b8cd06;}
.header .currency{ position: relative;}
.header .currency img{width:16px; height:11px;}
.header .currency span{padding: 0 5px; }
.header .currency ul { position:absolute; left:0px; top:100%; width:100%; background:#fff; box-shadow:0 6px 12px rgba(0,0,0,.175); visibility:hidden; opacity:0; transition:all .4s ease; margin-top:20px; z-index: 10; }
.header .currency:hover ul { visibility:visible; opacity:1; margin-top:0; }
.header .currency ul>li{padding: 10px 20px;; font-size: 11px;}
.header .topBar .icon{overflow: hidden;}
.header .topBar .icon img{width:17px; height:15px; }


/*MainMenu*/
.header .mainMenu{  border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; text-transform: uppercase;  box-shadow:0 6px 12px rgba(0,0,0,.175);}
.header .mainMenu a{font-family: "Questrial",Arial,Helvetica,sans-serif;  color: #929393; font-weight: 400;  }
.header .mainMenu.fixed{position: fixed; left: 0; top: -110px; right: 0;  z-index: 60; background-color: #fff; transform:translateY(110px); transition: all .4s ease;}
.header .mainMenu::after {content:" "; display: block; clear: both;}
.header .mainMenu .inner{width:1200px; margin: 0 auto;}
.header .mainMenu .inner::after {content:" "; display: block; clear: both;}
.header .mainMenu .logo{float:left; text-align: center; width: 30px; border: 5px solid #000;  font-size: 16px; letter-spacing: 2px; padding:10px;  margin:15px 0; font-family: "Questrial",Arial,Helvetica,sans-serif; font-weight: 700;}
.header .mainMenu .menu {float: right; height:100px; position: relative;}
.header .mainMenu .menu>li {float: left; height: 100%;}
.header .mainMenu .menu>li>a{display: block; height: 34px; text-transform: uppercase; font-size: 12px; font-weight: bold; line-height: 34px;  padding: 0px 15px; ; margin: 33px 0px; border-radius: 20px; transition: all .3s ease; text-decoration: none; color: #444}
.header .mainMenu .menu>li>a.on{background-color: yellowgreen; color: #fff;}
.header .mainMenu .menu>li:hover>a {background-color:yellowgreen; color:#fff; }
/*depth*/
.header .mainMenu .menu .depth{position: absolute; top: 100%; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 0px 1px 5px rgba(0,0,0,0.07);  z-index: 10; background-color: #fff; padding: 9px 15px; width: 120px; visibility: hidden; opacity: 0; transform: translateY(20px); transition:all .4s ease;}
.header .mainMenu .menu .depth.active{visibility: visible; opacity: 1; transform: translateY(0px);}
.header .mainMenu .menu .depth li a{line-height: 30px; font-size: 12px;  display: block; width: 114px;float:left;}
.header .mainMenu .menu .depth li:hover>a {color: yellowgreen; }
.header .mainMenu .menu .depth li:hover>a+i{color: yellowgreen; }
.header .mainMenu .menu .depth li i{float: right; }
.header .mainMenu .menu .depth2{position: absolute; top: 36px;  left: 101%; background-color: #fff; padding: 9px 15px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 0px 1px 5px rgba(0,0,0,0.07); visibility: hidden; opacity: 0; transform: translateY(20px); transition:all .4s ease;}
.header .mainMenu .menu .home2:hover .depth2{visibility: visible; opacity: 1; transform: translateY(0px); }
/*sub*/
.header .mainMenu .menu .sub{ background-color: #fff; position: absolute; top: 100%; right: -40px; border-top: 3px solid yellowgreen; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; box-shadow: 0px 1px 5px rgba(0,0,0,0.07);  z-index: 10; visibility:hidden; opacity: 0; transform: translateY(30px); transition: all .4s ease;  }
.header .mainMenu .menu .sub.active{visibility:visible; opacity: 1; transform: translateY(0px);}
.col9{width: 900px;  height: 280px;  height: 280px; padding: 20px 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.col6{width: 600px; height: 280px; padding: 20px 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.col3{width:300px; height: 280px; float: left; display: block; box-sizing: border-box; }
.col3>div{height:280px;  text-align: center; }
.col3 img{width: auto; border-radius: 10px; cursor: pointer;}
.col3 img:last-child{height: 100%;}
.col3:first-child{border-right: 1px solid #999; }
.col3 li{padding: 5px 35px;}
.col3 li a{font-size: 14px; line-height: 30px; }

/*search*/
.header .mainMenu .searchBtn{float: right; line-height: 100px; margin-left: 10px; width: 30px; position: relative;}
.header .mainMenu .searchBtn>i{cursor: pointer; padding: 7px; }
.searchBox{position: absolute; right: 0; z-index: 10;  width: 1200px; height: 175px; background-color: #fff;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow: inset 0px 1px 5px rgba(0,0,0,0.07); opacity: 0; transition: all .4s ease; }
.searchBox.active{opacity: 1}
.searchBox::after {content:" "; display: block; clear: both;}
.search {font-size:24px; width: 800px; height: 115px;  margin: 0 auto; padding: 0 200px; }
.search::after {content:" "; display: block; clear: both;}
.search input{ border: none; background-color: rgba(255,255,255,0); border-bottom: 1px solid #999; width:760px;  padding: 5px; font-size:18px; float: left; line-height: 36px; }
.search input + i{float: right; width: 20px; line-height: 36px; padding: 5px; border-bottom: 1px solid #999; cursor: pointer; font-size:18px; color: #666;}
.search input + i{float: right; width: 20px; line-height: 36px; padding: 5px; border-bottom: 1px solid #999; cursor: pointer; font-size:18px; color: #666;}
.exit{width: 100%; }
.exit::after {content:" "; display: block; clear: both;}
.exit i{float: right; text-align: center; cursor: pointer; line-height: 20px; padding: 20px; font-size: 16px;  color: #666;}

/*contents*/
.contents {width:1199px; margin: 0 auto; color:#333; background-color: #fff;}

/*slide banner*/
.slider {position: relative; width: 1199px;}
.slider .view {overflow: hidden; height:560px; }
.slider .align {position: relative;}
.slider .align::after {content:" "; display: block; clear: both;}
.slider .align li {float: left; text-align: center;}
.slider .align li img{width:1199px;}

/*top banner*/
.topBanner {box-sizing: border-box; width: 1199px;}
.topBanner::after {content:" "; display: block; clear: both;}
.topBanner img{display: block; }
.topBanner .banner{width:600px; height:358px; float: left; background-size: cover; cursor:pointer; position: relative;}
.topBanner .banner:last-child{width: 599px;}
.topBanner .banner:hover .cover{height:358px; opacity: 0.2;}
.topBanner .cover{background-color: #b8cd06; width:600px; height:0px; position: absolute; top: 0; left: 0; transition: all .4s ease; opacity: 0;}
.topBanner .banner.banner1{
    background-image:url(../images/banner-1_447aa0b5-10b5-4247-b649-feaef30d182b_850x.jpg);
}
.topBanner .banner.banner2{
    background-image:url(../images/banner-2_61ea73da-1269-4ae8-8d13-d3b98036829c_850x.jpg);
}
.topBanner .banner .bannerIn{}
.topBanner .banner .info {width:430px; height:254px; color: #fff; position: absolute; left: 85px; top: 52px;}
.topBanner .banner h4 {font-size: 16px; line-height: 1.6em;}
.topBanner .banner h2 {font-size: 36px; line-height: 1.6em;}
.topBanner .banner p {line-height: 24px;}
.topBanner .banner hr {border: 1px solid #b8cd06; width: 60px; margin: 20px 0;  }
.topBanner .banner .btn{ background-color: #fff; color: #666; font-size: 12px; font-weight: bold;  padding: 18px; margin-top: 30px; width: 120px; text-align: center; border-radius: 30px; transition: all .4s ease;}
.topBanner .banner .btn:hover{background-color: #b8cd06; color: #fff; cursor: pointer;}

/*product*/
.product {position: relative;}
.product .inner{ padding:30px;}
.product .item{ width:300px;  }

/*bestitem view*/
.best  {position: relative;}
.best .wrapper{width:920px; overflow: hidden; margin: 50px 140px; }
.best .wrapper .inner{ position: relative; width: 1840px; transition: all .4s ease;}
.best .wrapper .inner::after {content:" "; display: block; clear: both;}
.best .wrapper .bestInner{ height:400px; width:920px; float: left; background:url(../images/product_image_740x.png); background-repeat: no-repeat; background-size:contain; }
.best .wrapper .inner .bestInner .bestInfo{float: right; width:280px; }
.best .wrapper .inner .bestInner .name{ font-family: "Raleway",Arial,Helvetica,sans-serif; font-size:24px; font-weight:bold;}
.best .wrapper .bestInner .bestPrice{font-family: "Questrial",Arial,Helvetica,sans-serif; font-size:16px; line-height: 50px; }
.best .wrapper .inner .bestInner .bestPrice span{ color:#b8cd06;font-weight: bold; }
.best .wrapper .inner .bestInner .description{ font-size:11px; color:#777; margin: 5px 0 20px; text-align: justify;}
.best .wrapper .inner .bestInner .btn div{padding:12px; width:100px; text-align: center; color: #fff; font-size: 12px; font-weight: bold; border-radius:30px; float: left; margin-right: 10px; cursor: pointer;}
.best .wrapper .inner .bestInner .btn .more{background-color: #b8cd06; transition: all .4s ease;}
.best .wrapper .inner .bestInner .btn .cart{background-color: #222; transition: all .4s ease;}
.best .wrapper .inner .bestInner .btn .more:hover{background-color: #93c11c;}
.best .wrapper .inner .bestInner .btn .cart:hover{background-color: #b8cd06;}

/*sumething 고칠점ㅈ - 탭이 넘어가면 슬라이드가 안멈춤*/
.sumething .sumethingItem {position: relative;}
.sumething .tabMenu{border-bottom:1px solid #e4e4e4; width:1200px; }
.sumething ul {text-align: center; margin: 0 auto; width:724px; }
.sumething ul::after {content:" "; display: block; clear: both;}
.sumething li{float: left; border-right: 1px solid #e4e4e4; padding: 0px 9px; margin: 50px 0;  }
.sumething li:last-child{border-right:none;}
.sumething li span{display: block;padding: 10px 30px;  border-radius: 30px; font-size: 12px; font-weight: bold; cursor: pointer;}
.sumething li span:hover, .sumething li.active span {background: #b8cd06; color:#fff;}
.sumething .inner{ padding:10px;}
.sumething .item{ width:240px;}

/*choosing*/
.choosing  {position: relative; width: 1199px;}
.choosing .wrapper{width:920px; overflow: hidden; margin: 50px 140px; }
.choosing .wrapper .choosingWeapper{ position: relative; width: 1840px; transition: all .4s ease;}
.choosing .wrapper .choosingWeapper::after {content:" "; display: block; clear: both;}
.choosing .wrapper .choosingInner{ height:400px; width:920px; float:left; background:url(../images/banner-3_728f975e-6ac2-4b8a-84cc-bedc072348d3_570x.jpg); background-repeat: no-repeat; background-size:contain;}
.choosing .wrapper .choosingInner .item{float: right; border: none; margin-top: 18px;  margin-left: 30px; width:200px; text-align: center;}
.choosing .wrapper .choosingInner .images:hover img{opacity: 1;}
.choosing .wrapper .choosingInner .learnMore { color: #fff; padding: 10px; font-size: 12px; width:100px; text-align: center; margin-bottom: 10px; border-radius: 30px; cursor: pointer; cursor: pointer; background-color:#b8cd06; margin: 0 auto;}
.choosing .wrapper .choosingInner .learnMore:hover{background-color:#93c11c; }

/*special 고칠점 - 이미지 클릭시 튕김현상, 슬라이드가 안멈춤*/ 
.special {position: relative; width: 1200px; margin-top: 100px; height:550px; }
.special .view {/*overflow: hidden;*/}
.special .align {}
.special .item {position: relative;  background-repeat: no-repeat; background-size:cover; background-position: center bottom; padding:50px 64px; }
.special .item_1{background-image: url(../images/background-4_1480x.jpg);}
.special .item_2{background-image: url(../images/background-3_1480x.jpg);}
.special .item::after {content:" "; display: block; clear: both;}
.special .item>div{float: right;}
.special .small{position: absolute; top: 50%; margin-top:-120px;}
.special .small li{width:70px; height:70px; border:1px solid #fff; border-radius: 50%; float: none; text-align: center; display: block; margin-bottom: 15px; cursor: pointer; overflow: hidden;}
.special .small li.active{background: #fff;}
.special .large { width:390px; padding: 30px; transition: all .4s ease; }
.special .info {width:550px; font-family:"Raleway",Arial,Helvetica,sans-serif; color:#fff; margin-top: -25px;}
.special .info .title {font-size:36px; font-weight:900; text-align: justify; }
.special .info hr {border:1px solid #fff; width:70px; margin: 30px 0;  }
.special .info .description {font-size: 16px}
.special .info .price { font-size: 18px; color: #fff; font-weight: normal; margin: 30px 0; width:280px; }
.special .info span { color: #fff; font-size: 18px;}
.special .info .btn {width:240px; text-align: center;}
.special .info .btn::after {content:" "; display: block; clear: both;}
.special .info .btn div{padding: 17px; border-radius: 30px; font-size:12px; float: left; transition:all .4s ease; }
.special .info .more {background-color: #fff; color: #222; margin-right:11px; }
.special .info .cart {background-color: #222; color: #fff;}
.special .info .more:hover{background-color: #b8cd06; color: #fff;}
.special .info .cart:hover{background-color: #b8cd06; color: #fff;}

/*acc*/
.acc {position: relative; width: 1200px;}
.acc .line{ padding: 10px 30px;  }
.acc .line::after {content:" "; display: block; clear: both;}
.acc .inner{ padding:30px; text-align: center; }
.acc .item{ width:190px; border-bottom: none; }
.acc .item .name {font-size: 12px; color: #333;  line-height: 18px; }
.acc .item .price {font-size: 11px; color:#999; line-height: 18px; }
.acc .viewAcc{background-color: #b8cd06; color: #fff; padding: 18px; font-size: 12px; width:160px; text-align: center; margin: 30px auto; border-radius:30px; transition: all .4s ease; cursor; cursor: pointer;}
.acc .viewAcc:hover{background-color: #93c11c;}
.acc .button {position:absolute; left: 50%; top:50%; margin-left: -55px; margin-top:0px; visibility: hidden; opacity: 0; transition: all .4s ease;}
.acc .images:hover .button{visibility: visible; opacity: 1; margin-top: -25px;}
.acc .button div{ padding: 5px; font-size: 11px; width:100px; text-align: center; margin-bottom: 10px; border-radius: 30px;}

/*threeBanner*/
.threeBanner {margin: 80px 0; width: 1200px;}
.threeBanner::after {content:" "; display: block; clear: both;}
.threeBanner img{display: block; }
.threeBanner .banner{width:380px; height:500px; float: left; background-size: cover; cursor:pointer; position: relative; margin-left: 15px; border-radius: 10px; }
.threeBanner .banner:last-child{margin-right: 15px;}
.threeBanner .banner:hover .cover{height:500px; opacity: 0.4;}
.threeBanner .cover{background-color: #93c11c; width:380px; height:0px; position: absolute; top: 0; left: 0; transition: all .4s ease; opacity: 0;}
.threeBanner .banner.banner1{ background-image:url(../images/benifit_1_465x.jpg); }
.threeBanner .banner.banner2{ background-image:url(../images/benifit_2_465x.jpg); }
.threeBanner .banner.banner3{ background-image:url(../images/benifit_3_465x.jpg); }
.threeBanner .banner .info {width:320px; color: #fff; position: absolute; left: 30px; top: 90px; text-align: center; }
.threeBanner .banner h4 {font-size: 12px; line-height: 36px; font-weight:normal; }
.threeBanner .banner h2 {font-size: 30px; line-height: 1.2em;}
.threeBanner .banner p {line-height: 24px; }
.threeBanner .banner hr {border: 1px solid #fff; width: 60px; margin: 20px auto;   }
.threeBanner .banner .btn{ background-color: #222; color: #fff; font-size: 12px; font-weight: bold;  padding: 18px; margin:30px auto; width: 120px; text-align: center; border-radius: 30px; transition: all .4s ease;}
.threeBanner .banner .btn:hover{background-color: #b8cd06; color: #fff; cursor: pointer;}

/*newsletter*/
.newsletter {height:550px; margin: 0 70px 0 30px; background-image: url(../images/newsletter.jpg); background-repeat: no-repeat; background-position: left bottom;}
.newsletter .forSubscribers {width:600px; float: right; text-align: center; margin-top: 150px; }
.newsletter .sub {color:#777; line-height: 30px; font-family: "Questrial",Arial,Helvetica,sans-serif;}
.newsletter .sub span {color:#b8cd06; }
.newsletter .subject {font-size: 30px; ; font-family: "Raleway",Arial,Helvetica,sans-serif; font-weight: 700;   }
.newsletter .subject span {color:#b8cd06; font-weight: 900;   }
.newsletter .explain { font-family: "Questrial",Arial,Helvetica,sans-serif; margin: 20px; font-size: 16px; }

.newsletter .submit{position: relative; height:46px; width:552px; margin: 0 auto;}
.inputText { position: absolute; top: 0; left:0; font-size: 14px; border: 1px solid #e4e4e4; padding: 15px 120px 15px 30px; border-radius: 30px; width:400px; }
.inputText:focus {border: 1px solid #b8cd06;}
.inputSubmit {position: absolute; top:0; right: 0;  font-size: 14px; border: 1px solid #e4e4e4; background-color: #b8cd06; color:#fff; padding: 15px 30px;  border-radius: 30px; cursor: pointer; transition: all .4s ease;}
.inputSubmit:hover{background-color: #93c11c;}

/*footer*/
.footer{height:560px; background:#222; color: #666;}
.footer a{ color: #666; }
.footer img{width:36px; height: 23px;}
.footer .postItem img{width:70px; height:35px;}
.footer .content , .footer .copyright{ width: 1200px; padding: 50px 0px; margin: 0 auto; }
.footer .content {}
.footer .content::after {content:" "; display: block; clear: both;}
.footer .block {float: left; width: 278px; margin-right: 29px;}
.footer .block::after {content:" "; display: block; clear: both;}
.footer .block:last-child {margin-right: 0px;}
.footer .logo{width:30px;  padding: 4px 12px; text-align: center; line-height: 28px; border: 5px solid #e4e4e4; color: #e4e4e4; font-family: "Questrial",Arial,Helvetica,sans-serif; font-weight: 700; font-size:18px; letter-spacing: 8px;}
.footer .fP{line-height: 1.6em; font-size: 14px; margin: 20px 0;}
.footer .contact i{color: #b8cd06; width: 25px; }
.footer h4{font-size: 14px; font-weight: 700px; color: #e4e4e4; margin-bottom: 40px;   }
.footer .links{float: left; width:139px;}
.footer .links li a{ font-size: 12px; line-height: 36px; padding:18px 0; font-weight: 700; transition: all .4s ease;}
.footer .links li a:hover{color: #b8cd06;}

.footer .post{}
.footer .postItem{ height:80px;}
.footer .postItem::after {content:" "; display: block; clear: both;}
.footer .postItem img{float:left; margin-right: 20px; border-radius: 5px;  }
.footer .postItem div{float: left; font-size: 10px; font-weight: 700;}
.footer .postItem a{font-size: 12px; font-weight: 700;line-height:16px; width:160px; float: left; color: #999; transition: all .4s ease; }
.footer .postItem a:hover{color: #b8cd06;}
.footer .tag a {background: #444; color: #777; line-height: 30px;  padding: 0px 10px; margin: 0 5px; display: inline-block; border-radius: 30px; font-size: 12px; font-weight: 900;transition: all .4s ease; }
.footer .tag a:hover{background-color: #b8cd06; color: #e4e4e4;}
.footer hr{ border: 1px solid #666; width:1200px; margin: 0 auto;}
.footer .copyright::after {content:" "; display: block; clear: both;}
.footer .copyright p{font-size: 14px; float: left;}
.footer .copyright a{color: #b8cd06;}
.footer .copyright .social{float: left; margin: 0 33px; }
.footer .copyright .social::after {content:" "; display: block; clear: both;}
.footer .copyright .social li{float: left;  }
.footer .copyright .social li a{float: left; width:40px; height: 40px; text-align: center; line-height: 40px; border-radius: 40px; background: #444; color: #777;margin: 0 10px; transition: all .4s ease;}
.footer .copyright .social li a:hover{background-color: #b8cd06; color: #e4e4e4;}
.footer .copyright .pament::after {content:" "; display: block; clear: both;}
.footer .copyright .pament {float: right; margin: 0 30px; height: 40px; line-height:50px;}
.footer .copyright .pament li{float: left; margin-left: 20px; opacity: 1; transition:all .4s ease;}
.footer .copyright .pament li:hover{opacity: 0.5;}