* { margin:0; padding:0; }

div.button { text-align:center; }

button { padding:10px 20px; }

section.cube_container {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 100px auto;
  border: 1px solid #CCC;
  -webkit-perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
}

#cube div {
  display: block;
  position: absolute;
  width: 396px;
  height: 396px;
  border: 2px solid black;
  line-height: 396px;
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#cube .front  { -webkit-transform: translateZ(200px); }
#cube .back   { -webkit-transform: rotateX(-180deg) translateZ(200px); }
#cube .right { -webkit-transform: rotateY(90deg) translateZ(200px); }
#cube .left { -webkit-transform: rotateY(-90deg) translateZ(200px); }
#cube .top { -webkit-transform: rotateX(90deg) translateZ(200px); }
#cube .bottom { -webkit-transform: rotateX(-90deg) translateZ(200px); }

#cube.show-front { -webkit-transform: translateZ( -100px ); }
#cube.show-back { -webkit-transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show-right { -webkit-transform: translateZ( -100px ) rotateY( -90deg ); }
#cube.show-left { -webkit-transform: translateZ( -100px ) rotateY( 90deg ); }
#cube.show-top { -webkit-transform: translateZ( -100px ) rotateX( -90deg ); }
#cube.show-bottom { -webkit-transform: translateZ( -100px ) rotateX( 90deg ); }

#cube div.front {

  background-color:#000;
} 

#cube div.right, #cube div.left{

  background-color:#fff;
  font-size:12px;
  color:#555;
  line-height:25px;
}

#cube div h4 {

  margin:30px 0;
}

#cube div p {

  margin:20px;
}

#cube div {
  -webkit-backface-visibility: hidden;
}