* { margin:0; padding:0; list-style:none; font-family:'News Cycle', sans-serif; }

a { text-decoration:none; }

img { vertical-align:top; }

header { position:relative; }

nav { position:absolute; top:20px; right:20px; z-index:20; cursor:pointer; }

#main { position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4); z-index:10; }
#main div.logo { width:300px; height:100px; position:absolute; top:50%; left:50%; margin-left:-150px; margin-top:-50px; text-align:center; animation: logo 4s linear; }
#main p { color:#fff; margin-top:5px; }

@keyframes logo { 

	0% { top:30%; opacity:0; }
	100% { top:50%; opacity:1; }
}

video { width:100%; display:block; background-color:#000; }

#intro article.info { padding:100px 50px; text-align:center; }
#intro article.info h2 { font-size:40px; margin-bottom:20px; }
#intro article.info p { font-size:14px; color:#999; }

#watch { padding-top:50px; background:#f2f2f2; }
#watch p { font-size:20px; text-align:center; margin-bottom:50px; color:#222; }
#watch img { width:100%; }

#product { margin-bottom:100px; }
#product article.color { padding-top:100px; text-align:center; }
#product article.color h2 { font-size:40px; padding:0 50px; }
#product article.color p { margin:120px 0 50px; }

#product div.select { overflow:hidden; }
#product ul.item4 { padding:0 50px; }
#product ul.item4 li { width:25%; float:left; text-align:center; font-size:12px; position:relative; margin-bottom:50px; }
#product ul.item4 li img { width:80%; margin-bottom:30px; }
#product ul.item4 li div { background:linear-gradient(#3baee7, #08c); width:80px; height:26px; line-height:26px; position:absolute; top:50%; left:50%; margin-left:-40px; margin-top:-20px; border-radius:4px; color:#fff; cursor:pointer; }

/* 기능 구현 부분 */
#product ul.item4 li div { margin-top:-10px; opacity:0; transition:all .2s linear; }
#product ul.item4 li img { transition:all .2s linear; }
#product ul.item4 li:hover img { opacity:0.6; transform:scale(1.1); }
#product ul.item4 li:hover div { margin-top:-30px; opacity:1; }

#product div.edition { height:500px; background:url(../images/edition.jpg) center; background-attachment:fixed; background-size:cover; margin-bottom:100px; } 
#product ul.item2 { padding:0 50px; }
#product ul.item2 li { width:50%; float:left; margin-bottom:50px; }
#product ul.item2 li img { width:80%; margin-bottom:50px; }

footer ul li { float:left; width:25%; }
footer ul li a { height:200px; display:block; background-size:640px 200px; background-position:center center; border:1px solid #fff; }
footer ul li:nth-child(1) a { background-image:url(../images/footer01.jpg); }
footer ul li:nth-child(2) a { background-image:url(../images/footer02.png); }
footer ul li:nth-child(3) a { background-image:url(../images/footer03.jpg); }
footer ul li:nth-child(4) a { background-image:url(../images/footer04.jpg); }

div.category { 
	position:absolute; 
	width:100%;
	top:-100%;
	height:100%;
	background-color:#fff;
	z-index:9999;
	border-bottom:1px solid #ddd;
	opacity:0;
	transition:all .3s ease;
}

div.category img.close_btn { position:absolute; top:20px; right:20px; cursor:pointer; }

ul.menu { padding:50px 100px 0; }
ul.menu li { float:left; width:20%; text-align:center; margin:10px 0px; font-size:12px; cursor:pointer; }
ul.menu img { width:80%; margin-bottom:10px; }

div.category.open { top:0; opacity:1; }

@media screen and ( max-width:768px ) {

	#product ul.item4 li { width:50%; }

	ul.menu { padding:20px 50px 0; }
	ul.menu li { width:33.33%; margin:0; line-height:15px; }
	ul.menu li:hover { text-decoration:underline; }
	ul.menu img { display:none; }
}

@media screen and ( max-width:480px ) {	

	div.category { overflow-y:scroll; }
	ul.menu li { width:100%; }
	ul.menu li:last-child { margin-bottom:50px; }

	#product div.edition { height:200px; }
	#product ul.item4 li { width:100%; }	
	#product ul.item2 li { width:100%; }
}

/* footer responsive */
@media screen and ( max-width:1068px ) {

	footer ul li { width:50%; }
}

@media screen and ( max-width:600px ) {

	footer ul li { width:100%; }
}

