* { margin:0; padding:0; list-style-type:none; font-family:arial; }

div#event { position:relative; width:252px; height:216px; overflow:hidden; border:1px solid #ddd; margin:20px; }

div.slide ul li { display:none; }
div.slide ul li:nth-child(1) { display:block; }

div.show { position:absolute; left:10px; bottom:10px; }
div.show ul li { float:left; width:12px; height:12px; background-color:#d7d7d7; border-radius:50%; margin:0px 3px 0px 0px; }
div.show ul li.selected { background-color:#d80546; }