*{margin:0;padding:0;}
html,body{background-color:#f1f1f1;font-size:16px;}
ul,li{list-style:none;}
.blind, .typed-cursor{display:none;position:absolute; top:-100%;left:-100%;}
.cover{display:table;width:100%;height:100vh;}
.cover_inner{display:table-cell;vertical-align: middle;text-align: center;}



.header{background-color:#333;box-shadow:0px 0px 6px 3px rgba(0,0,0,.1);}
.header .title{height:230px;}
.header .title .cover{height:100%;}
.header .title h1{color:#fff;}
.header .title button{padding:14px;margin:10px 5px; border:none;box-sizing: border-box;color:#fff;outline:none;cursor:pointer;transition:all .4s ease;}
.header .title button:first-of-type{background-color:#2fb074;border:3px solid #2fb074;}
.header .title button:last-of-type{background-color:#ff7643;border:3px solid #ff7643;}
.header .title button:hover{background-color:transparent;}
.header .title button:first-of-type:hover{border:3px solid #2fb074;color:#2fb074;}
.header .title button:last-of-type:hover{border:3px solid #ff7643;color: #ff7643;}
.header .menu:after{content:"";display:block;clear:both;}
.header .menu>div{float:left;width:50%;padding:30px;background-color:#fff;border-right:1px solid rgba(0,0,0,0.1);text-align: center;color:rgba(0,0,0,.5);font-size:1rem;line-height:1;text-transform:uppercase;box-sizing:border-box;cursor:pointer;transition:all .4s ease;}
.header .menu>div:last-child{border-right:none;}
.header .menu>div:hover{color:#ff7643;}

.header .menu .fas,.header .menu .fab{float:left;color:#222;line-height:1;transition:all .4s ease;}
.header .menu>div:hover .fas,.header .menu>div:hover .fab{color:#ff7643;}
.wrapper{}
.section{width:100%;}

.container{}

/*con--------------------------------------------------*/

.tag_list li{color:#444;cursor:pointer;}

.card_filter .tag_list{border-bottom:#ddd;}
.card_filter .tag_list:after{content:"";display:block;clear:both;}
.card_filter .tag_list li{float:left;padding:10px;}

.con_wrap{}
.con_wrap .inner{position:relative;margin:30px 15px;}
.con_wrap .inner:after{content:"";display:block;clear:both;}
.con_wrap .card{position:absolute;top:0;left:0;width:25%;padding:0 15px 30px;box-sizing:border-box;transition:all .4s ease;}

.con_wrap .card_inner{position:relative;border:1px solid #ddd;background-color:#fff;}
.con_wrap .card .card_inner:before{content:"";position:absolute;border:40px solid #2fb074;border-right-color:transparent;border-bottom-color:transparent;}
.con_wrap .card .card_inner:after{content:"d";position:absolute;top:12px;left:10px;color:#fff;text-transform: uppercase;}
/*.con_wrap .card_inner:before{content:"";display:block;position:absolute;top:0;left:0;border:20px solid #f9f9f9;border-right-color:transparent;border-bottom-color:transparent;}*/
.con_wrap .card_inner:after{content:"";display:block;position:absolute;top:0;left:0;width:30px;height:30px;line-height:30px;text-align:center;color:#f9f9f9;}

/*.con_wrap .card:nth-of-type(3n+0) .card_inner{border:3px solid red;}*/
/*.con_wrap .card:nth-of-type(3n+2) .card_inner{border:3px solid blue;}*/
/*.con_wrap .card:nth-of-type(3n+1) .card_inner{border:3px solid green;}*/
.con_wrap .card .desc{padding:30px 30px 10px;}
.con_wrap .card .desc h3{margin-top:20px;font-size:1rem;color:#222;line-height:1.6;}
.con_wrap .card .desc h3 a{display:inline-block;float:right;height:1.6rem;padding:0 5px;border:2px solid #fff;color:#fff;box-sizing: border-box; text-decoration: none;text-transform:uppercase;}
.con_wrap .card .desc h3:first-child{margin-top:0;}
.con_wrap .card .desc p{font-size:.9rem;line-height:1.4;color:#666;}
.con_wrap .card .desc ul{margin-top:10px;}
.con_wrap .card .desc li{font-size:.8rem;line-height:1.8;color:#444;}
.con_wrap .tag_list{margin-top:30px;padding-top:20px;border-top:1px solid #ddd;}
.con_wrap .tag_list li.on{color:orange;}
.con_wrap .tag_list:after{content:"";display:block;clear:both;}
.con_wrap .tag_list li{float:left;padding:5px;margin-right:10px;margin-bottom:10px;border-radius:3px;font-size:.9rem;}
.con_wrap .tag_list li:before{content:"#";}
.con_wrap .link{background-color:#f9f9f9;}
.con_wrap .link .link_title{font-weight:bold;color:#444;}
.con_wrap .link .link_title:after{content:" : ";}
.con_wrap .link a{display: block;padding:30px;color:#ff7542;text-decoration: none;}

.card{display:none;}
.card.active{display:block;}


.con_wrap .coding .card_inner:after{content:"";}
.con_wrap .coding h2.title{padding:30px;}

.con_wrap .coding .desc{padding:0 30px 10px;}

.con_wrap .card .card_inner.image {transform-style: preserve-3d; transition: all 0.5s ease-in-out; }
.con_wrap .card:hover .card_inner.image {transform:rotateY(180deg);}
.con_wrap .card .face {width: 100%;height: 100%;backface-visibility: hidden;}
.con_wrap .card .face.front{position:absolute;}
.con_wrap .card .face.back {transform: rotateY(-180deg);background-color:#3d8bc3; color:#fff;}
.con_wrap .card .face.back .desc h3,.con_wrap .card .face.back .desc p ,.con_wrap .card .face.back .desc li{color:#fff;}
.con_wrap .card img{width:100%;height:100%;}
.con_wrap .card .face.front{background-size:cover;background-repeat:no-repeat;background-position:center center;}
/*.con_wrap .card.portfolio:nth-of-type(5) .front{background-image:url(../../portfolio/html/cover.jpg);}*/
.con_wrap .portfolio_01 .front{background-image:url(../../../portfolio/video/cover.jpg);}
.con_wrap .portfolio_02 .front{background-image:url(../../../portfolio/rotation_laout/cover.jpg);}
.con_wrap .portfolio_03 .front{background-image:url(../../../portfolio/2017_scroll/cover.jpg);}
.con_wrap .portfolio_04 .front{background-image:url(../../../portfolio/copy01/cover.jpg);}
.con_wrap .portfolio_05 .front{background-image:url(../../../portfolio/react/cover.jpg);}
.con_wrap .portfolio_06 .front{background-image:url(../../../portfolio/html/cover.jpg);}





/*visual--------------------------------------------------*/
.section.visual{position:relative;display:none;}
.section.visual .img{width:36rem;margin:0 auto;}

/*mail--------------------------------------------------*/
.section.contact{padding:150px 0 0 0;background-color:#f6f6f6;}
.contact h1, .contact p{text-align:center;}
.contact ul, .contact li{list-style:none;}
.contact_list{position:relative;margin:60px 60px 0;padding-bottom:60px;text-align:left;}
.contact_list:after{position:absolute;top:100%;left:50%;margin-left:-50px;border:50px solid transparent;border-top-color:#f6f6f6;content:"";}
.contact_list ul{width:100%;max-width:1200px;margin:0 auto;border-top:2px solid #363636;}
.contact_list ul:after{display: block;clear: both;content:"";}
.contact_list li{width:50%;float:left;padding-right:15px;box-sizing:border-box;}
.contact_list li:last-child{padding-right:0px;padding-left:15px;}
.contact_list h4{padding:20px 0;border-bottom:1px solid #e1e1e1;}
.contact_list dl{display: table;width:100%;font-size: 0.9rem;}
.contact_list dt{display:table-cell;width:80px;padding:10px 0;}
.contact_list dd{display:table-cell;color:#868686;}

.mail_container{height:700px;padding:40px;background-color:#fff;box-sizing:border-box;}
.mail_inner{}
.mail_container ul{overflow:hidden;max-width:1200px;margin:0 auto;text-align:left;}
.mail_container li{float:left;width:33.33%;padding:10px;box-sizing:border-box;}
.mail_container li:last-child{width:100%;}
.mail_container label{font-size:.9rem;}
.mail_container input{width:100%;padding:10px 5px;box-sizing:border-box;}
.mail_container textarea{width:100%;min-height:300px;box-sizing:border-box;}
.mail_container input,.mail_container textarea{border:1px solid #ccc;padding:10px;}
.mail_container .sand{padding:20px 15px;background-color:#fe3264;color:#fff;}

/*-------------------------------------------------tail.php-------------------------------------------------*/
.footer{padding:20px 0;background-color:#333;}



/*modal--------------------------------------------------*/


.modal{position:fixed;top:100%;right:0;bottom:0;left:0;background-color:transparent;}
.modal .m_wrap{width:400px;margin:0 auto;background:#fff;}
.modal .m_head{border-bottom:1px solid #e0e0e0;color:#222;font-weight:bold;line-height:4;}
.modal .m_body{padding:30px 40px;background-color:#fafafa;}
.modal .m_body li{padding:20px;margin-bottom:10px;background-color:#fff;border:1px solid #e0e0e0;}
.modal .m_body li.on{color:orange;}
.modal .m_body li:last-of-type{margin-bottom:0;}
.modal .m_close{background-color:#2fb074;color:#fff;line-height:4;cursor:pointer;}

/*function*/
.modal.active{top:0;background-color:rgba(0,0,0,.4);transition:background-color .4s ease .4s, top .4s ease;}
.modal.active .m_wrap{}

#media-479, #media-768, #media-1024,#media-1366 {
    display: none;
    height: 0px;
    overflow: hidden;
}

@media screen and (min-width : 1025px) and (max-width:1366px){
    #media-1366{display:block;}
    .con_wrap .card{width:25%;}

}
@media screen and (min-width : 769px) and (max-width:1024px){
    #media-1024{display:block;}
    .con_wrap .card{width:33.33%;}

}

@media screen and (min-width : 480px) and (max-width:768px){
    #media-768{display:block;}
    .con_wrap .card{width:50%;}

}

@media screen and (max-width : 479px){
    #media-479{display:block;}
    .con_wrap .card{width:100%;}

}
