*{margin: 0; padding: 0;}
li{list-style: none;}
body{
    background: url(../images/bg.jpg) top;
    background-size: cover;
}
.container{
    width:1000; height: 600px; 
    padding: 0 50px;
    background: rgba(255,255,255,.4);
    position: absolute; top: 50%; left:50%;
    transform: translate(-50%, -50%);
    border:1px solid #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,.1);
}

h1{text-align: center;}

.card {width:960px; margin: 20px auto; }
.card li{float: left; width:140px; height:192px; margin: 0 10px;
position: relative; top:20px;}
.card li.yellow {background-image: url(../images/image_01.png);}
.card li.red {background-image: url(../images/image_02.png);}
.card li.black {background-image: url(../images/image_03.png);}
.card li.pink {background-image: url(../images/image_04.png);}
.card li.violet {background-image: url(../images/image_05.png);}
.card li.prussian {background-image: url(../images/image_06.png);}

.info{width:960px; margin: 0 auto;}
.button{ }
.button a{display: inline-block; width:30px; height:80px; background-image: url(../images/arrow.png); cursor: pointer;}
.button a.next{background-position: right top;}
.button a:hover{background-position-y: bottom;}

.name{font-size:40px; font-family: impact; color:#2dbdef;}
.name span{color: #e46524;}