* { margin:0; padding:0; list-style:none; font-family:arial; font-size:14px; color:#fff; }

a { text-decoration:none; } 

html, body { height:100%; }

div.menu {

	width:100%;
	position:fixed;
	top:0;
	height:60px; 
	background-color:rgba(0,0,0,0.4);
	z-index:10;
}

div.menu ul { 

	text-align:center; 
}

div.menu ul li {

	display:inline-block; 
}

div.menu ul li a { 

	width:150px;
	height:60px;
	line-height:60px; 
	text-align:center;
	display:block; 
}

div.section { 

	height:800px;
	position:relative;
	text-align:center;
	line-height:50px;
}

div.section h2 {

	font-size:60px;
	text-shadow: 2px 1px 1px #000;
	font-family:impact;
	padding-top:300px;
}

div.section p {

	-webkit-transform:translate(0px,-50px);
	opacity:0;

	-webkit-transition:all .5s linear;
}

div.section img {

	width:300px; height:400px;
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-150px;

	-webkit-transform:translate(-100px,0px);
	opacity:0;

	-webkit-transition:all .5s linear;
}

div#section01 { background-color:#7cdc7c; }
div#section02 { background-color:#a5c3ec; }
div#section03 { background-color:#e96097; }
div#section04 { background-color:#ead754; }
div#section05 { background-color:#d5aeec; }

div.section.move img, div.section.move p { 

	-webkit-transform:translate(0px,0px);
	opacity:1;
}

div.footer {

	height:300px;
	padding-top:200px;
	text-align:center;
	background-color:#eee;
}