* {

	box-sizing: border-box;
	font-family: Cambria, Georgia, serif;
	list-style: none;
	padding:0;
	margin:0;
}

a { text-decoration:none; }

body {

	background:#dfebf4;
}

h1 {

	text-align:center; 
	margin:60px 0px; 
	font-size:40px; 
}

div.container {
	width:100%;
	position: relative;
}

section.main {
	width:1000px;
	margin: 0 auto;
	position: relative;
}

ul.dessert {
	margin: 20px 0 0 0;
	text-align: center;
	width: 100%;
}

ul.dessert li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

div.macaron {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: inset 0 0 0 0 rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

div.macaron:hover {
	box-shadow: inset 0 0 0 110px rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(255,255,255,0.8),	0 1px 2px rgba(0,0,0,0.1);
}

div.macaron-1 { background-image: url(../images/image_01.jpg); }
div.macaron-2 {	background-image: url(../images/image_02.jpg); }
div.macaron-3 {	background-image: url(../images/image_03.jpg); }
div.macaron-4 { background-image: url(../images/image_04.jpg); }
div.macaron-5 { background-image: url(../images/image_05.jpg); }
div.macaron-6 { background-image: url(../images/image_06.jpg); }

div.info {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	border-radius:50%;
}

div.info h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	margin:65px 30px 20px;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

div.info p {
	color: #fff;
	padding: 10px 5px;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

div.info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
}

div.macaron:hover div.info {
	opacity: 1;
	transform: scale(1);
}

div.info p a:hover {
	color: rgba(255,242,34, 0.8);
}