/* 변형 css3 */

.box{
   
    width:100px; height:100px;
    background: green;
    margin: 50px;
    
    /* 2D 변형 (,를 쓸수 없음) */
	/*모바일에서 더 부드러움 ex8에서는 안됨*/
	
    transform:rotate(30deg);
    transform:scale(1.5); /*1이 100%크기*/
    transform: translate(50px,100px);/*가로열,세로열*/
    transform: translate(100px,100px) rotate(45deg) scale(1.5);/*순서가 중요, 자기자신을 기준으로 순차적으로 적용됨*/
    transform: none;
    
    
    /* transition (,사용가능) - 변화, 이해, 전개, 이행단계 
        해당 태그가 바뀌는 과정을 눈으로 보여주는 기능 ( 애니메이션 )
    */

    transition-property: background,border-radius;
    transition-duration: 3s,2s;
    transition-timing-function:linear,ease;/*속도조절*/
    transition-delay: 2s,6s;
    
    transition: all 2s ease 1s;
    
    transition: background 3s linear 2s, border-redius 2s ease 6s;
}

.box:hover { border-radius: 50%; background:coral;}






*{margin: 0; padding: 0;}

.container{ width:1170px; margin: 10px auto; }
.show{ width:380px; margin: 5px; float: left; } /*380+10=390*3=1170*/
.boxi{margin-bottom: 10px;}
.box1{height: 500px;}
.box2{height: 270px;}
.box3{height: 270px;}
.box4{height: 500px;}
.box5{height: 385px;}
.box6{height: 385px;}


/*기능 만들기 위한 css*/
.box2{position: relative; overflow: hidden;}

.product{
	
	width:100%;
	height:60px;
	background: yellowgreen;
	position: absolute;
	bottom: 0px; left: 0;
	text-align: center; color:#fff; line-height: 60px;
	
	transform: translate(0px, 60px);
	opacity: 0;
	
	transition: all .4s ease;
	
}
.box2:hover .product{ /*bottom: 0;*/ transform: translate(0px, 0px); opacity: 1;}



/*
.box1{ position: relative; }

.room{ 
	position: absolute; 
	left:0px; top:0px; 
	color: #fff; 
	font-weight: bold; 
	font-size: 48px;
	text-align: center;
	
	opacity: 0;
	transition: font-size .4s ease;
}

.cover{
	width:100px; height:100px; 
	background:black; 
	position: absolute;
	left: 0px; top: 0px;
	
	transform:translate(140px, 200px);
	opacity: 0;
	transition: all .4s ease;
}

.box1:hover .cover{
	transform:translate(0, 0);
	width:100%; height:100%;
	opacity: 0.5;
}

.box1:hover .room{
	font-size: 24px;
	opacity: 1;
}

*/

.box1{ position: relative;}

.cover{
	
	position: absolute; top:50%; left:50%; width:38px; height:50px;
	margin-left: :-19px; margin-top: -25px;
	background: rgba(0,0,0,0.0);
	
	/*display: none;*/
	
	/*transform: scale(0.2);*/
	transition : all 400ms ease;
}

.box1:hover .cover{
	top:0; left: 0px; width:380px; height: 500px;
	margin-left: 0; margin-top: 0;
	/*display: block; 애니메이션의 성질이 변하는것이기때문에 애니메이션이 적용되지 않음*/
	background: rgba(0,0,0,0.4);
	/*transform: scale(1);*/
	
}





.box5{
	border-radius: 50%; 
	background: url(../images/grid05.jpg);
	box-shadow:inset 0px 0px 0px 0px rgba(0,0,0,0.4);
	
	transition : all 400ms ease;
}
.box5:hover{
	
	box-shadow:inset 0px 0px 10px 190px rgba(0,0,0,0.4);
}


/*

.nemo{
	
	width:200px; height:200px; background: green;
	margin:100px;
	
	transition: all 2s linear;
}

.nemo:hover{
	
	border-radius: 50%;
	background: pink;
}

*/

.box4{position: relative;}
.line1{
	
	position: absolute; top: 0; left: 0; width:0; height:5px;
	background: red;
	
	transition: width 400ms linear 1.2s;
}
.line2{
	
	position: absolute; top: 0; right: 0; width:5px; height:0;
	background: red;
	
	transition: height 400ms linear 800ms;
}
.line3{
	
	position: absolute; bottom: 0; right: 0; width:0; height:5px;
	background: red;
	
	transition: width 400ms linear 400ms;
}
.line4{
	
	position: absolute; bottom: 0; left: 0; width:5px; height:0;
	background: red;
	
	transition: height 400ms linear;
}


.box4:hover .line1{	width:100%; transition: width 400ms linear;}
.box4:hover .line2{	height:100%;transition: height 400ms linear 400ms;}
.box4:hover .line3{	width:100%;	transition: width 400ms linear 800ms ;}
.box4:hover .line4{	height:100%; transition: height 400ms linear 1200ms;}
















